@model Troy.Web.Models.SalesDeliveryViewModels

@Scripts.Render("~/bundles/script/jqueryval")
<script>
    function TabChange() {
        debugger;
        //if ($("#btnSubmit").val == "Next") {
        $('#edittabs a[href = #editQuotationItem]').tab('show');
        //    $("#btnSubmit").val("Save");
        //}
    }

    $(function () {
        $("#btnEditNextTab").click(function (e) {
            e.preventDefault();
            var _this = $(this);
            var _form = _this.closest("#editdefault");

            var validator = $("#editdefault").validate(); // obtain validator
            var anyError = false;
            _form.find("input").each(function () {
                debugger;
                if (this.parentNode.parentNode.className != "jAutochecklist_list") {
                    if (!validator.element(this)) { // validate every input element inside this step
                        anyError = true;
                    }
                }
            });

            _form.find("select").each(function () {
                //debugger;
                if (!validator.element(this)) { // validate every input element inside this step
                    anyError = true;
                }
            });

            if (anyError) {
                return false;
            }
            else {
                $('#edittabs a[href = #editQuotationItem]').tab('show');
            }// exit if any error found

            //$.post(_form.attr("action"), _form.serialize(), function (data) {
            //    //check the result and do whatever you want
            //    $('#createtabs a[href = #addQuotationlist]').tab('show');
            //})


            //$("#default").validate({
            //    showErrors: function (errorMap, errorList) {
            //        debugger;
            //    }
            //});

        });

        $("#btnSuddbmit").click(function (e) {
            e.preventDefault();
            var _this = $(this);
            var _form = _this.closest("#editQuotationlist");

            var validator = $("#editQuotationlist").validate(); // obtain validator
            var anyError = false;
            _form.find("input").each(function () {
                debugger;
                if (this.parentNode.parentNode.className != "jAutochecklist_list" || this.type != "hidden") {
                    if (!validator.element(this)) { // validate every input element inside this step
                        anyError = true;
                    }
                }
            });

            _form.find("select").each(function () {
                debugger;
                if (!validator.element(this)) { // validate every input element inside this step
                    anyError = true;
                }
            });

            if (anyError) {
                return false;
            }
            else {
                return true; //$('#createtabs a[href = #addQuotationlist]').tab('show');
            }// exit if any error found
        });

    });
</script>


@using (Html.BeginForm("Index", "SalesDelivery"))
{
    @Html.ValidationSummary(true)

    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">View SalesDelivery</h4>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="tabs">
                            <ul id="edittabs" class="nav nav-tabs tabdrop">
                                <li class="active">
                                    <a href="#editdefault" data-toggle="tab">General</a>
                                </li>
                                <li><a href="#editQuotationItem" data-toggle="tab">Product </a></li>

                            </ul>
                            @Html.HiddenFor(model => model.salesdelivery.Sales_Delivery_Id)
                            @Html.Hidden("ItemCount", Model.salesdeliverytitemlist.Count)
                            @Html.HiddenFor(model => model.salesdelivery.Created_Date)
                            @Html.HiddenFor(model => model.salesdelivery.Created_Branc_Id)
                            @Html.HiddenFor(model => model.salesdelivery.Created_User_Id)

                            <div id="createtabContent" class="tab-content">

                                <div class="tab-pane fade active in" id="editdefault">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-horizontal">
                                                @*@Html.HiddenFor(model=>model.goodreceipt.Purchase_Order_Id)*@
                                                @*<div class="row form-group">
                                                    <div class="col-md-4">*@
                                                @*@Html.LabelFor(m => m.goodreceipt.Purchase_Order_Id, new { @class = "control-label normal" })*@
                                                @*PurchaseOrder Id
                                                    </div>
                                                    <div class="col-md-8">*@
                                                @*, new { @id = "typeahead", @size = 12 }*@
                                                @*@Html.DropDownListFor(m => m.goodreceipt.Purchase_Order_Id, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text" })*@
                                                @*@Html.TextBoxFor(model => model.goodreceipt.Purchase_Order_Id, new { @class = "form-control control-text" })*@
                                                @*@Html.ValidationMessageFor(model => model.goodreceipt.Purchase_Order_Id)
                                                        </div>
                                                    </div>*@

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.salesdelivery.Customer, new { @class = "control-label normal" })
                                                    </div>
                                                    <div class="col-md-8">
                                                        @*@Html.TextBoxFor(model => model.goodreceipt.Vendor, new { @class = "form-control control-text" })*@
                                                        @Html.DropDownListFor(m => m.salesdelivery.Customer, new SelectList(Model.BussinessList.AsEnumerable(), "BP_Id", "BP_Name", Model.salesdelivery.Vendor_Name), new { @class = "form-control control-text",@disabled="disabled" })
                                                        @Html.ValidationMessageFor(model => model.salesdelivery.Customer)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Reference Number
                                                        @*@Html.LabelFor(m => m.salesorder.Reference_Number, new { @class = "control-label normal" })*@
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.salesdelivery.Reference_Number, new { @class = "form-control control-text", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.salesdelivery.Reference_Number)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @*@Html.LabelFor(m => m.goodreceipt.Doc_Status, new { @class = "control-label normal" })*@
                                                        Order Status
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.salesdelivery.Doc_Status, new List<SelectListItem>
                                                         {
                                                            new SelectListItem{ Text="Open", Value = "Open" },
                                                            new SelectListItem{ Text="Closed", Value = "Closed" }
                                                         }, new { @class = "form-control", @disabled = "disabled" })@*, @disabled = true })*@

                                                        @*@Html.TextBoxFor(m => m.PurchaseQuotation.Quotation_Status, new { @class = "form-control", @readonly = true })*@
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @*@Html.LabelFor(m => m.goodreceipt.Ship_To, new { @class = "control-label normal" })*@
                                                        Branch
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(m => m.salesdelivery.Branch, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text", @disabled = "disabled" })
                                                        @*@Html.TextBoxFor(model => model.goodreceipt.Ship_To, new { @class = "form-control control-text" })*@
                                                        @Html.ValidationMessageFor(model => model.salesdelivery.Branch)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @*@Html.LabelFor(m => m.goodreceipt.Posting_Date, new { @class = "control-label normal" })*@
                                                        Posting Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.salesdelivery.Posting_Date, new { @Value = DateTime.Now.ToString("dd/MM/yyyy"), @class = "form-control control-text datePicker", @id = "IssueDate", @disabled = "disabled" })
                                                        @*@Html.ValidationMessageFor(model => model.goodreceipt.Posting_Date)*@
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @*@Html.LabelFor(m => m.goodreceipt.Due_Date, new { @class = "control-label normal" })*@
                                                        Due Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.salesdelivery.Delivery_Date, new { @Value = DateTime.Now.ToString("dd/MM/yyyy"), @class = "form-control control-text datePicker", @id = "IssueDate1", @disabled = "disabled" })
                                                        @*@Html.ValidationMessageFor(model => model.goodreceipt.Due_Date)*@
                                                    </div>
                                                </div>



                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-horizontal">




                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @*@Html.LabelFor(m => m.goodreceipt.Document_Date, new { @class = "control-label normal" })*@
                                                        Document Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @*@Html.TextBoxFor(model => model.PurchaseQuotation.Posting_Date, new { @class = "form-control control-text datePicker" })*@
                                                        @Html.TextBoxFor(model => model.salesdelivery.Document_Date, new { @Value = DateTime.Now.ToString("dd/MM/yyyy"), @class = "form-control control-text datePicker", @id = "IssueDate2", @disabled = "disabled" })@*, @readonly = true })*@
                                                        @*@Html.ValidationMessageFor(model => model.goodreceipt.Document_Date)*@
                                                    </div>
                                                </div>



                                                <div class="row  form-group">
                                                    <div class="col-md-4">
                                                        Discount
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.salesdelivery.DocDiscAmt, new { @class = "form-control control-text", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.salesdelivery.DocDiscAmt)
                                                    </div>
                                                </div>

                                                <div class="row  form-group">
                                                    <div class="col-md-4">
                                                        Remarks
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.salesdelivery.Remarks, new { @class = "form-control control-text", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.salesdelivery.Remarks)
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="modal-footer">
                                            <input class="btn btn-primary pull-left" type="button" id="btnEditNextTab" name="nextButton" value="Next" />
                                            <button class="btn pull-left" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="editQuotationItem">

                                    <div>

                                        <table id="EditTable" class="table display" style="min-height:180px;">
                                            <thead>
                                                <tr>
                                                    <th>Product_Id</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Discount %</th>
                                                    <th> LineTotal</th>
                                                    <th>VAT Code</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.salesdeliverytitemlist.Count; i++)
                                                {

                                                    @Html.HiddenFor(model => model.salesdeliverytitemlist[i].Sales_Delivery_Id)
                                                    @Html.HiddenFor(model => model.salesdeliverytitemlist[i].sales_Item_Id)
                                                    <tr>
                                                        <td style="display:none;">
                                                            @Html.HiddenFor(model => model.salesdeliverytitemlist[i].IsDummy, 0)

                                                        </td>
                                                        <td width="20%">
                                                            @*@Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Product_id, new { @class = "form-control control-text" })*@

                                                            @Html.DropDownListFor(m => m.salesdeliverytitemlist[i].Product_Id, new SelectList(Model.productlist.AsEnumerable(), "Product_Id", "Product_Name", Model.salesdeliverytitemlist[i].ProductName), new { @class = "form-control control-text", @onchange = "OnChangeProduct(this, " + i + ");", @disabled = "disabled" })
                                                            @*@Html.TextBoxFor(model => model.goodreceiptitemlist[i].Product_id, new { @class = "form-control control-text" })*@
                                                            @Html.ValidationMessageFor(model => model.salesdeliverytitemlist[i].Product_Id)
                                                        </td>
                                                        @*<td width="15%">
                                                                @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Required_date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "form-control control-text datePicker" })
                                                                @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Required_date)
                                                            </td>*@
                                                        <td>
                                                            @Html.TextBoxFor(model => model.salesdeliverytitemlist[i].Quantity, new { @class = "form-control control-text", @onkeyup = "OnChangeQuantity(this, " + i + ");", @disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.salesdeliverytitemlist[i].Quantity)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.salesdeliverytitemlist[i].Unit_Price, new { @class = "form-control control-text", @readonly = true, @disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.salesdeliverytitemlist[i].Unit_Price)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.salesdeliverytitemlist[i].Discount_Precent, new { @class = "form-control control-text", @onkeyup = "OnChangeDiscount(this, " + i + ");", @disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.salesdeliverytitemlist[i].Discount_Precent)
                                                        </td>
                                                        @*<td>
                                                                @Html.TextBoxFor(model => model.salesorderitemlist[i].Freight_Loading, new { @class = "form-control control-text", @readonly = true, @id = "totloading" })
                                                                @Html.ValidationMessageFor(model => model.salesorderitemlist[i].Freight_Loading)
                                                            </td>*@
                                                        <td>
                                                            @Html.TextBoxFor(model => model.salesdeliverytitemlist[i].LineTotal, new { @class = "form-control control-text", @readonly = true, @disabled = "disabled" }) @*@id = "totloading"*@
                                                            @Html.ValidationMessageFor(model => model.salesdeliverytitemlist[i].LineTotal)
                                                        </td>
                                                        <td width="10%">
                                                            @Html.DropDownListFor(m => m.salesdeliverytitemlist[i].Vat_Code, new SelectList(Model.VATList.AsEnumerable(), "VAT_percentage", "VAT_percentage", Model.salesdeliverytitemlist[i].Vat_Code), new { @class = "form-control control-text", @onchange = "OnChangeVAT();", @disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.salesdeliverytitemlist[i].Vat_Code)
                                                        </td>
                                                        <td style="width: 90px;">
                                                            <input class="BtnPlus btn pull-left" type="button" value="+" />
                                                            @*<input style="margin-left:5px;" type="button" class="BtnMinus btn pull-left" value="-" />*@
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>

                                    </div>



                                    <div class="modal-footer">
                                      
                                        <button class="btn pull-left" data-dismiss="modal">Close</button>
                                        @*@Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })*@

                                        <div class="row" style="float:right;">
                                            Total : <span>@Html.TextBoxFor(m => m.salesdelivery.TotalBefDocDisc, new { id = "totalPurchase", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                            Discount Amount : <span>@Html.TextBoxFor(m => m.salesdelivery.DocDiscAmt, new { id = "totalDiscount", @class = "input-small", @onkeyup = "OnChangeDiscountSummary(this);" }) @Html.ValidationMessageFor(model => model.salesdelivery.DocDiscAmt) </span> <br />
                                            Tax Amount : <span>@Html.TextBoxFor(m => m.salesdelivery.TaxAmt, new { id = "totalTax", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                            Total Quotation Amount : <span>@Html.TextBoxFor(m => m.salesdelivery.TotalSlsDlvryAmt, new { id = "totalQuotationAmt", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                        </div>

                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="modal-footer">
                    <input class="btn btn-primary" type="submit" id="btnSubmit" name="submitButton" value="Save" />
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                </div>*@
        </div>

    </div>
}