@model Troy.Web.Models.EmployeeViewModels

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Employee</h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <ul id="tabs" class="nav nav-pills nav-pills-justified">
                        <li class="active">
                            <a href="#default" data-toggle="tab">General</a>
                        </li>
                        <li><a href="#additional" data-toggle="tab">Personal</a></li>
                        <li><a href="#additional1" data-toggle="tab">Finance</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="default">
                            <br />
                            @Html.HiddenFor(model => model.Employee.Emp_Id)
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        Employee No:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Emp_No, new { @class = "form-control control-text info", id = "textbox1" })
                                        @Html.ValidationMessageFor(model => model.Employee.Emp_No)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        First Name:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Employee.First_Name, new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.First_Name)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Middle Name:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Employee.Middle_Name, new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Middle_Name)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Last Name:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Employee.Last_Name, new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Last_Name)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Father Name:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Employee.Father_Name, new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Father_Name)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Job Title:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Employee.Designation_Id, new SelectList(Model.DesignationList.AsEnumerable(), "Designation_Id", "Designation_Name"), "", new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Designation_Id)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        Department:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Employee.Department_Id, new SelectList(Model.DepartmentList.AsEnumerable(), "Department_Id", "Department_Name"), "", new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Department_Id)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Branch:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Employee.Branch_Id, new SelectList(Model.BranchList.AsEnumerable(), "BranchId", "BranchName"), "", new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Branch_Id)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Manager:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Employee.Emp_Id, new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Emp_Id)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Mobile No:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Employee.Mobile_number, new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Mobile_number)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        EMail Address:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Employee.Email, new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Email)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="additional">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        Start Date:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Start_Dte, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Start_Dte)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Left Date:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Left_Dte, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Left_Dte)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Left Reason:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.DropDownListFor(m => m.Employee.Left_Reason, new SelectList(Model.LeftReasonList.AsEnumerable(), "Id", "Troyvalues"), "", new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Left_Reason)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Date of Birth:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.DOB, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.DOB)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Marital Status:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Marital_Status, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Marital_Status)

                                        @*@Html.DropDownListFor(m => m.Employee.Marital_Status, new SelectList(Model.GetMaritalStatusList.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Marital_Status)*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Gender:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.DropDownListFor(m => m.Employee.Gender, new SelectList(Model.GenderList.AsEnumerable(), "Id", "Troyvalues"), "", new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Employee.Gender)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        No of Child:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Noof_Children, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Noof_Children)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        ID Number:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.ID_Number, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.ID_Number)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Passport Number:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Passport_no, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Passport_no)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Expiry Date:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Passport_Expiry_Dte, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Passport_Expiry_Dte)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Photo:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Photo, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Photo)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="additional1">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        Start Date:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Start_Dte, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Start_Dte)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        ETC:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.ETC, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.ETC)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Bank Code:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Bank_Cde, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Bank_Cde)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Bank Account Number:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Bank_Acc_No, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Bank_Acc_No)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Bank Branch Name:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Bank_Branch_Name, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Bank_Branch_Name)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Bank Remarks:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Remarks, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Remarks)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Remarks:
                                    </div>
                                    <div class="col-md-8" id="container1">
                                        @Html.TextBoxFor(model => model.Employee.Remarks, new { @class = "form-control control-text info" })
                                        @Html.ValidationMessageFor(model => model.Employee.Remarks)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />
                <button class="btn pull-left" data-dismiss="modal">Cancel</button>
                @Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })
            </div>
        </div>
    </div>
</div>