@model Troy.Model.Employees.Employee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Emp_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Emp_No, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Emp_No)
                @Html.ValidationMessageFor(model => model.Emp_No)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Initial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Initial)
                @Html.ValidationMessageFor(model => model.Initial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.First_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.First_Name)
                @Html.ValidationMessageFor(model => model.First_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Middle_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Middle_Name)
                @Html.ValidationMessageFor(model => model.Middle_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Last_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Last_Name)
                @Html.ValidationMessageFor(model => model.Last_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Father_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Father_Name)
                @Html.ValidationMessageFor(model => model.Father_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Designation_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Designation_Id)
                @Html.ValidationMessageFor(model => model.Designation_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Department_Id)
                @Html.ValidationMessageFor(model => model.Department_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Manager_empid, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Manager_empid)
                @Html.ValidationMessageFor(model => model.Manager_empid)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Branch_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Branch_Id)
                @Html.ValidationMessageFor(model => model.Branch_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ID_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ID_Number)
                @Html.ValidationMessageFor(model => model.ID_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile_number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile_number)
                @Html.ValidationMessageFor(model => model.Mobile_number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start_Dte, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Start_Dte)
                @Html.ValidationMessageFor(model => model.Start_Dte)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Left_Dte, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Left_Dte)
                @Html.ValidationMessageFor(model => model.Left_Dte)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Left_Reason, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Left_Reason)
                @Html.ValidationMessageFor(model => model.Left_Reason)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB)
                @Html.ValidationMessageFor(model => model.DOB)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Marital_Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Marital_Status)
                @Html.ValidationMessageFor(model => model.Marital_Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Noof_Children, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Noof_Children)
                @Html.ValidationMessageFor(model => model.Noof_Children)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Passport_no, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Passport_no)
                @Html.ValidationMessageFor(model => model.Passport_no)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Passport_Expiry_Dte, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Passport_Expiry_Dte)
                @Html.ValidationMessageFor(model => model.Passport_Expiry_Dte)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Photo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Photo)
                @Html.ValidationMessageFor(model => model.Photo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary)
                @Html.ValidationMessageFor(model => model.Salary)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ETC, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ETC)
                @Html.ValidationMessageFor(model => model.ETC)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bank_Cde, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bank_Cde)
                @Html.ValidationMessageFor(model => model.Bank_Cde)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bank_Acc_No, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bank_Acc_No)
                @Html.ValidationMessageFor(model => model.Bank_Acc_No)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bank_Branch_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bank_Branch_Name)
                @Html.ValidationMessageFor(model => model.Bank_Branch_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_User_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_User_Id)
                @Html.ValidationMessageFor(model => model.Created_User_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_Branc_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_Branc_Id)
                @Html.ValidationMessageFor(model => model.Created_Branc_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_Dte, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_Dte)
                @Html.ValidationMessageFor(model => model.Created_Dte)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_User_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_User_Id)
                @Html.ValidationMessageFor(model => model.Modified_User_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_Branch_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_Branch_Id)
                @Html.ValidationMessageFor(model => model.Modified_Branch_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_Dte, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_Dte)
                @Html.ValidationMessageFor(model => model.Modified_Dte)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image_Url, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image_Url)
                @Html.ValidationMessageFor(model => model.Image_Url)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
