@model Troy.Web.Models.EmployeeViewModels

@{
    ViewBag.Title = "Employee";
    ViewBag.BodyCss = "Employee";
}

<script type="text/javascript">


    $(document).ready(function () {
              
        $('.datePicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();
        //var date = $('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();

        $('#grdEmployee').dataTable({
            "bFilter": false, "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfo": "Total of _TOTAL_ entries to show (_START_ to _END_)"
            },
            /* Disable initial sort */
            "aaSorting": [],
            "fnInfoCallback": function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
                perPage = iEnd - iStart + 1;
                totalRatio = iTotal / perPage;
                intTotalRatio = parseInt(totalRatio, 10);
                totalPages = totalRatio > intTotalRatio ? intTotalRatio + 1 : intTotalRatio;
                currentRatio = iStart / perPage;
                intCurrentRatio = parseInt(currentRatio, 10);
                currentPage = currentRatio > intCurrentRatio ? intCurrentRatio + 1 : intCurrentRatio;
                return 'Displaying ' + currentPage + ' of ' + totalPages + ' pages';
            }
        });

        $("#searchUL li").click(function () {
            if (this.id == 'EmpNo') {
                $('#SearchQuery').removeAttr("disabled", "disabled");
                Id = 'Emp_No';
                $('#SearchColumn').val(Id);
                $('#SearchBySpan').text(Id);
            }
            if (this.id == 'FirstName') {
                $('#SearchQuery').removeAttr("disabled", "disabled");
                Id = 'First_Name';
                $('#SearchColumn').val(Id);
                $('#SearchBySpan').text(Id);
            }
            if (this.id == 'IsActive') {
                $('#SearchQuery').removeAttr("disabled", "disabled");
                Id = 'IsActive';
                $('#SearchColumn').val(Id);
                $('#SearchBySpan').text(Id);
            }
        });

    });

    function EditEmployee(id) {

        var url = $('#editModal').data('url') + '/' + id;

        $.get(url, function (data) {

            $('#editmodelcontainer').html(data);

            $('#editModal').modal('show');
        });
    }

    function ViewEmployee(id) {

        var url = $('#viewModal').data('url') + '/' + id;

        $.get(url, function (data) {
            $('#viewmodelcontainer').html(data);

            $('#viewModal').modal('show');
        });
    }

    function IFrameManuSubmit() {
        //debugger;
        var fileSelected = $('#FileUpload').val();
        if (fileSelected == '') {
            alert('Please choose the Excel to Upload');
            return false;
        }

        var formData = new FormData($('form')[0]);

        var dataurl = "/Employee/index";

        $.ajax({
            url: dataurl,
            type: 'POST',
            xhr: function () {
                var myXhr = $.ajaxSettings.xhr();
                return myXhr;
            },
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                //debugger;
                if (data.success == true) {
                    alert(data.Message);
                }
                else {
                    alert(data.Error);
                }
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }

    $(function () {
        $("#btnPersonalTab").click(function (e) {
            e.preventDefault();
            var _this = $(this);
            var _form = _this.closest("#default");

            var validator = $("#default").validate(); // obtain validator
            var anyError = false;
            _form.find("input").each(function () {

                if (!validator.element(this)) { // validate every input element inside this step
                    anyError = true;
                }
            });

            _form.find("select").each(function () {

                if (!validator.element(this)) { // validate every input element inside this step
                    anyError = true;
                }
            });

            if (anyError) {
                return false;
            }
            else {                
                $('#createtabs a[href = #additional]').tab('show');
            }// exit if any error found  
        });

        $("#btnFinanceTab").click(function (e) {
            e.preventDefault();
            var _this = $(this);
            var _form = _this.closest("#default");

            var validator = $("#default").validate(); // obtain validator
            var anyError = false;
            _form.find("input").each(function () {

                if (!validator.element(this)) { // validate every input element inside this step
                    anyError = true;
                }
            });

            _form.find("select").each(function () {

                if (!validator.element(this)) { // validate every input element inside this step
                    anyError = true;
                }
            });

            if (anyError) {
                return false;
            }
            else {
                $('#createtabs a[href = #additional1]').tab('show');
            }// exit if any error found  
        });
    });

    $.validator.unobtrusive.parse('#myModal form');
</script>

@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.SearchColumn)

    <div id="content">
        <!-- Start .content-wrapper -->
        <div class="content-wrapper">
            <div class="row">&nbsp;</div>
            <!-- Start .row -->
            <div class="row">
                <!-- Start .bredcrumb -->
                <ul id="crumb" class="breadcrumb"></ul>
                <!-- End .breadcrumb -->
                <!-- Start .page-header -->
                <div class="form-group">
                    <label class="col-md-2 col-md-2 col-sm-12 h4 control-label pull-left">
                        @ViewBag.Title
                    </label>

                    <!-- Start .option-buttons -->
                    <!-- Removed -->
                    <!-- End .option-buttons -->

                    <div class="col-lg-10 col-md-10">
                        <div class="row">
                            <div class="pull-right group-button btn-toolbar">
                                <button type="button" title="New Branch" class="btn btn-primary" data-toggle="modal" data-target="#createModal" data-backdrop="static" data-keyboard="false">
                                    <i class="en-add-to-list strong"></i>
                                    <span> New</span>
                                </button>

                                <button type="button" title="Bulk Addition" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal" data-backdrop="static" data-keyboard="false">
                                    <i class="st-file-add strong"></i>
                                    <span> Bulk</span>
                                </button>

                                <button type="button" title="Excel Export" class="btn btn-primary">
                                    @*<a href=@Url.Action("_ExporttoExcel", "Branch")></a>*@
                                    <i class="im-file-excel strong"></i>
                                    <span> Export</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .page-header -->
            </div>
            <!-- End .row -->
            <div class="row">&nbsp;</div>
            <div class="outlet">
                <!-- Start .outlet -->
                <!-- Page start here ( usual with .row ) -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="panel panel-default plain">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <div class="row">

                                </div>
                            </div>
                            <div class="panel-body">

                                <table class="table display" id="datatable">
                                    <thead>

                                        <tr>
                                            <th>
                                                <div class="lBor">
                                                    Employee No
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor">
                                                    First Name
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor">
                                                    Designation
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor" style="width: 122px;">
                                                    Department
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor">
                                                    Branch
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor">
                                                    Phone Number
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor">
                                                    EMail
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor">
                                                    IsActive
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor">
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Troy.Model.Employees.ViewEmployee item in Model.EmployeeList)
                                        {
                                            <tr class="odd">
                                                <td>
                                                    @item.Emp_No
                                                </td>
                                                <td>
                                                    @item.First_Name
                                                </td>
                                                <td>
                                                    @item.Designation_Name
                                                </td>
                                                <td>
                                                    @item.Department_Name
                                                </td>
                                                <td>
                                                    @item.Branch_Name
                                                </td>
                                                <td>
                                                    @item.Mobile_number
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    @item.IsActive
                                                </td>

                                                <td>
                                                    <a href="#" class="top-right" data-toggle="modal" data-target="#viewModal" data-backdrop="static" data-keyboard="false" onclick="ViewEmployee(@item.Emp_Id);">
                                                        <i class="im-eye2"></i>

                                                    </a>
                                                    <span class="text-muted">|</span>
                                                    <a href="#" class="top-right" data-toggle="modal" data-target="#editModal" data-backdrop="static" data-keyboard="false" onclick="EditEmployee(@item.Emp_Id);">
                                                        <i class="im-pencil2"></i>
                                                    </a>
                                                    <span class="text-muted">|</span>

                                                    @*<a href="@Url.Action("_DeletePartialView", "Suppliers", new { id = item.Branch_Id })" data-modal="true">
                                                            <i class="im-remove2"></i>
                                                        </a>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- End .panel -->
                    </div>
                    <!-- col-lg-12 end here -->
                </div>
                <!-- Page End here -->
            </div>
            <!-- End .outlet -->
        </div>
        <!-- End .content-wrapper -->
    </div>
    <div class="clearfix"></div>
    <div class="modal fade bs-example-modal-lg" id="createModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        @Html.Partial("_CreatePartial", Model)
    </div>

    <div class="modal fade bs-example-modal-lg" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" data-url='@Url.Action("_EditPartial")'>
        <div id="editmodelcontainer">
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="viewModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" data-url='@Url.Action("_ViewPartial")'>
        <div id="viewmodelcontainer">
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="uploadModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">File Upload</h4>
                </div>

                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="tabs">
                                <ul id="myTab" class="nav nav-tabs tabdrop">
                                    <li class="active">
                                        <a href="#default" data-toggle="tab">Bulk Addition</a>
                                    </li>
                                </ul>

                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="default">
                                        <br />

                                        <div id="FileUploadDiv">
                                            <iframe id="hiddenFrame" name="hiddenFrame" style="display: none"></iframe>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="file" id="FileUpload" name="FileUpload" />
                                                </div>

                                            </div>

                                            @*<div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <input type="button" id="btnUpload" name="FileUploadButton" value="Upload" class="btn btn-success"
                                                               onclick="return IFrameSubmit();" />
                                                    </div>
                                                </div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input class="btn btn-primary pull-left" type="button" id="btnUpload" name="FileUploadButton" value="Upload" onclick="return IFrameSubmit();" />
                    <button class="btn pull-left" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
}
