@model Troy.Web.Models.ManufacturerViewModels


<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">View Manufacturer</h4>
        </div>

        <div class="modal-body">

            <div class="form-horizontal">

                <div class="row">

                    <ul id="viewtabs" class="nav nav-pills nav-pills-justified">
                        <li class="active">
                            <a href="#viewdefault" data-toggle="tab">General </a>
                        </li>
                    </ul>

                    <div id="viewTabContent" class="tab-content">

                        <div class="tab-pane fade in active" id="viewdefault">

                            <br />

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        Manufacturer Name:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Manufacturer.Manufacturer_Name, new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Manufacturer.Manufacturer_Name)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Manufacturer Level:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Manufacturer.Level, new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(model => model.Manufacturer.Level)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        Is Active:
                                    </div>
                                    <div class="col-md-8">
                                        @Html.RadioButtonFor(model => model.Manufacturer.IsActive, "Y", new { id = "Y" }) YES
                                        @Html.RadioButtonFor(model => model.Manufacturer.IsActive, "N", new { id = "N" }) NO
                                        @Html.ValidationMessageFor(model => model.Manufacturer.IsActive)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            @*<input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />*@
            <button class="btn pull-left" data-dismiss="modal">Close</button>
            @Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })
        </div>

    </div>
</div>

