@model Troy.Web.Models.ManufacturerViewModels

@{
    ViewBag.Title = "Manufacturer";
}

<script type="text/javascript">


    $(document).ready(function () {

        $('.datePicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();
        //var date = $('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();
        $.validator.unobtrusive.parse('#myModal form');

        $('#grdManufacturer').dataTable({
            "bFilter": false, "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfo": "Total of _TOTAL_ entries to show (_START_ to _END_)"
            },
            /* Disable initial sort */
            "aaSorting": [],
            "fnInfoCallback": function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
                perPage = iEnd - iStart + 1;
                totalRatio = iTotal / perPage;
                intTotalRatio = parseInt(totalRatio, 10);
                totalPages = totalRatio > intTotalRatio ? intTotalRatio + 1 : intTotalRatio;
                currentRatio = iStart / perPage;
                intCurrentRatio = parseInt(currentRatio, 10);
                currentPage = currentRatio > intCurrentRatio ? intCurrentRatio + 1 : intCurrentRatio;
                return 'Displaying ' + currentPage + ' of ' + totalPages + ' pages';
            }
        });

        $("#searchUL li").click(function () {
            if (this.id == 'Name') {
                $('#SearchQuery').removeAttr("disabled", "disabled");
                Id = 'Manufacturer_Name';
                $('#SearchColumn').val(Id);
                $('#SearchBySpan').text(Id);
            }
            if (this.id == 'Level') {
                $('#SearchQuery').removeAttr("disabled", "disabled");
                Id = 'Level';
                $('#SearchColumn').val(Id);
                $('#SearchBySpan').text(Id);
            }
            if (this.id == 'IsActive') {
                $('#SearchQuery').removeAttr("disabled", "disabled");
                Id = 'IsActive';
                $('#SearchColumn').val(Id);
                $('#SearchBySpan').text(Id);
            }
        });
    });

    function EditManufacturer(id) {

        var url = $('#editModal').data('url') + '/' + id;

        $.get(url, function (data) {

            $('#editmodelcontainer').html(data);

            $('#editModal').modal('show');
        });
    }

    function ViewManufacturer(id) {

        var url = $('#viewModal').data('url') + '/' + id;

        $.get(url, function (data) {
            $('#viewmodelcontainer').html(data);

            $('#viewModal').modal('show');
        });
    }

    function IFrameManuSubmit() {
        debugger;
        var fileSelected = $('#file').val();
        if (fileSelected == '') {
            alert('Please choose the Excel to Upload');
            return false;
        }

        var formData = new FormData($('form')[0]);

        var dataurl = "/Manufacturer/index";

        $.ajax({
            url: dataurl,
            type: 'POST',
            xhr: function () {
                var myXhr = $.ajaxSettings.xhr();
                return myXhr;
            },
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                //debugger;
                if (data.success == true) {
                    alert(data.Message);
                    window.location.reload();
                }
                else {
                    alert(data.Error);
                }
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function EditSubmit(button) {
        var text = button.value;
        $('#submitAction').val(button.value)
        return true;
    }


</script>

<div><span>&nbsp;</span></div>

@using (Html.BeginForm("Index", "Manufacturer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.SearchColumn)


    <div id="content">
        <div class="content-wrapper">
            <div class="row">&nbsp;</div>
            <div class="row">

                <ul id="crumb" class="breadcrumb"></ul>
                <div class="form-group">
                    <label class="col-md-2 col-md-2 col-sm-12 h4 control-label pull-left">
                        @ViewBag.Title
                    </label>

                    <div class="col-lg-10 col-md-10">
                        <div class="row">
                            <div class="pull-right group-button btn-toolbar">
                                <button type="button" title="New Manufacturer" class="btn btn-primary" data-toggle="modal" data-target="#createModal" data-backdrop="static" data-keyboard="false">
                                    <i class="en-add-to-list strong"></i>
                                    <span> New</span>
                                </button>

                                <button type="button" title="Bulk Addition" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal" data-backdrop="static" data-keyboard="false">
                                    <i class="st-file-add strong"></i>
                                    <span> Bulk</span>
                                </button>
                                                              
                                <input class="btn btn-primary" type="submit" name="submitButton" id="btnExport" value="Export" />
                                                              
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .page-header -->
            </div>
            <div class="row">&nbsp;</div>
            <div class="outlet">
                <!-- Start .outlet -->
                <!-- Page start here ( usual with .row ) -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="panel panel-default plain">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <div class="row">

                                </div>
                            </div>
                            <div class="panel-body">

                                <table class="table display" id="datatable">
                                    <thead>

                                        <tr>
                                            <th>Manufacturer Id</th>
                                            <th>Manufacturer Name</th>
                                            <th>Manufacturer Level</th>
                                            <th>Is Active</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Troy.Model.Manufacturer.Manufacture item in Model.ManufacturerList)
                                        {
                                            <tr class="odd gradeX">
                                                <td style="text-align:center;">@item.Manufacturer_Id</td>
                                                <td style="text-align:center;">@item.Manufacturer_Name</td>
                                                <td style="text-align:center;">@item.Level</td>
                                                <td>@item.IsActive</td>
                                                <td>
                                                    <a href="#" class="top-right" data-toggle="modal" data-target="#viewModal" data-backdrop="static" data-keyboard="false" onclick="ViewManufacturer(@item.Manufacturer_Id);">
                                                        <i class="im-eye2"></i>

                                                    </a>
                                                    <span class="text-muted">|</span>
                                                    <a href="#" class="top-right" data-toggle="modal" data-target="#editModal" data-backdrop="static" data-keyboard="false" onclick="EditManufacturer(@item.Manufacturer_Id);">
                                                        <i class="im-pencil2"></i>
                                                    </a>
                                                    @*<span class="text-muted">|</span>
                                                        <a href="@Url.Action("_DeletePartialView", "Manufacturer", new { id = item.Manufacturer_Id })" data-modal="true">
                                                            <i class="im-remove2"></i>
                                                        </a>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- End .panel -->
                    </div>
                    <!-- col-lg-12 end here -->
                </div>
                <!-- Page End here -->
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="modal fade bs-example-modal-lg" id="createModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        @Html.Partial("_CreatePartial", Model)
    </div>


    <div class="modal fade bs-example-modal-lg" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" data-url='@Url.Action("_EditPartial")'>
        <div id="editmodelcontainer">
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="viewModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" data-url='@Url.Action("_ViewPartial")'>
        <div id="viewmodelcontainer">
        </div>
    </div>
}

@using (Html.BeginForm("Upload", "Manufacturer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="modal fade bs-example-modal-lg" id="uploadModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">File Upload</h4>
                </div>

                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="tabs">
                                <ul id="myTab" class="nav nav-tabs tabdrop">
                                    <li class="active">
                                        <a href="#default" data-toggle="tab">Bulk Addition</a>
                                    </li>
                                </ul>

                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="default">
                                        <br />

                                        <div id="FileUploadDiv">
                                            <iframe id="hiddenFrame" name="hiddenFrame" style="display: none"></iframe>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @*<input type="file" id="FileUpload" name="FileUpload" />*@
                                                    <input type="file" name="file" />
                                                    @*<input type="submit" name="Submit" id="Submit" value="Upload" />*@
                                                </div>
                                            </div>
                                            <a href=@Url.Action("_TemplateExcelDownload", "Manufacturer")>
                                                Click here to Download template
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input class="btn btn-primary pull-left" type="submit" name="Submit" id="Submit" value="Upload"  />

                    @*<input class="btn btn-primary pull-left" type="button" id="btnUpload1" name="FileUploadButton" value="Upload" onclick="return IFrameManuSubmit();" />*@
                    <button class="btn pull-left" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
}


