@model Troy.Web.Models.BranchViewModels



<script type="text/jscript">
    $(function () {
        
        $('#Country').change(function () {
            
            debugger;
            $.getJSON('/Branch/StateList/' + $('#Country').val(), function (data) {
                var items = '<option>Select a State</option>';
                $.each(data, function (i, state) {
                    items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                });
                $('#State').html(items);
            });
        });

        $('#State').change(function () {
            alert($('#State').val());
            $.getJSON('/Branch/CityList/' + $('#State').val(), function (data) {
                var items = '<option>Select a City</option>';
                $.each(data, function (i, city) {
                    items += "<option value='" + city.Value + "'>" + city.Text + "</option>";
                });
                $('#City').html(items);
            });
        });
    });
</script>




<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title " id="myModalLabel">Add Branch</h4>
        </div>

        <div class="modal-body">

            <div class="form-horizontal">

                <div class="row">

                    <ul id="tabs" class="nav nav-pills nav-pills-justified">
                        <li class="active">
                            <a href="#default" data-toggle="tab">General </a>
                        </li>

                    </ul>

                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade in active" id="default">

                            <br />
                            <div class="row">

                                @Html.HiddenFor(model => model.Branch.Branch_Id)

                                <div class="col-md-6">
                                    <div class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.Branch.Branch_Code)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Branch.Branch_Code, new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Branch.Branch_Code)
                                            </div>

                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                @*@Html.LabelFor(model => model.Branch.Branch_Name)*@
                                                Branch Name

                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Branch.Branch_Name, new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Branch.Branch_Name)
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Branch.Address1)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Branch.Address1, new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Branch.Address1)
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Branch.Address2)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Branch.Address2, new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Branch.Address2)
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Branch.Address3)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Branch.Address3, new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Branch.Address3)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-horizontal">

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                Country:
                                            </div>
                                            @*@Html.DropDownListFor(model => model.country.ID, null, new { id = "Country" })*@
                                            <div class="col-md-8">
                                                @Html.DropDownList("Country", ViewBag.ID as SelectList, "Select a Country", new { id = "Country" })<br />
                                                </div>
                                                @*<select id="State" name="state"></select><br />
                                                <select id="City" name="city"></select><br />*@
                                            </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                State:
                                            </div>
                                            <div class="col-md-8">
                                                <select id="State" title="Select a Country" name="state"></select><br />
                                                </div>
                                            </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                City:
                                            </div>
                                            <div class="col-md-8">
                                                <select id="City" title="Select a Country" name="city"></select><br />
                                            </div>
                                        </div>

                                            @*<div class="row form-group">
                <div class="col-md-4">
                    Country:
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Branch.Country_ID, new SelectList(Model.CountryList.AsEnumerable(), "ID", "Country_Name", 1), "Select Country", new { @class = "form-control control-text", id = "Country" })
                    @Html.ValidationMessageFor(model => model.Branch.Country_ID)
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4">
                    State:
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Branch.State_ID, new SelectList(Model.StateList.AsEnumerable(), "ID", "State_Name", 1), "Select State", new { @class = "form-control control-text", id="State" })
                    @Html.ValidationMessageFor(model => model.Branch.State_ID)
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4">
                    City:
                </div>
                <div class="col-md-8">
                    @Html.DropDownListFor(m => m.Branch.City_ID, new SelectList(Model.CityList.AsEnumerable(), "ID", "City_Name", 1), "Select City", new { @class = "form-control control-text", id="City" })
                    @Html.ValidationMessageFor(model => model.Branch.City_ID)
                </div>
            </div>*@

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @*@Html.LabelFor(model => model.Branch.Pin_Code)*@
                                                    PinCode
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Branch.Pin_Code, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.Branch.Pin_Code)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(model => model.Branch.Order_Num)
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.Branch.Order_Num, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.Branch.Order_Num)
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />
                <button class="btn pull-left" data-dismiss="modal">Close</button>
                @Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })
            </div>
        </div>
    </div>

