@model Troy.Model.Branch.Branch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Branch</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branch_Cde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch_Cde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Branch_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country_Cde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country_Cde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State_Cde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State_Cde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City_Cde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_Cde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pin_Cod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pin_Cod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_User_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_User_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Branc_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Branc_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Dte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Dte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_User_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_User_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_Branch_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Branch_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_Dte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Dte)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Branch_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
