@model Troy.Web.Models.PurchaseViewModels


<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Purchase</h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="tabs">
                        <ul id="createtabs" class="nav nav-tabs tabdrop">
                            <li class="active">
                                <a href="#default" data-toggle="tab">General</a>
                            </li>
                            <li><a href="#addQuotationlist" data-toggle="tab">Product </a></li>

                        </ul>

                        <div id="createtabContent" class="tab-content">

                            <div class="tab-pane fade active in" id="default">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-horizontal">

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Vendor, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">

                                                    @*@Html.TextBoxFor(model => model.PurchaseQuotation.Vendor, new { @class = "form-control control-text"})*@

                                                    @*@Html.TextBoxFor(m => m.PurchaseQuotation.Remarks, new { data_autocomplete_url = Url.Action("GetVendor") })*@


                                                    @Html.DropDownListFor(m => m.PurchaseQuotation.Vendor, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name"), new { @id = "typeahead", @size = 12 })

                                                    @*@Html.DropDownListFor(m => m.PurchaseQuotation.Vendor, new SelectList(Model.BussinessList.AsEnumerable(), "BP_Id", "BP_Name"), new { @id = "typeahead", @size = 10 })*@

                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Vendor)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Reference_Number, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Reference_Number, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Reference_Number)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Quotation_Status, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.PurchaseQuotation.Quotation_Status, new List<SelectListItem>
                                                         {
                                                            new SelectListItem{ Text="Open", Value = "Open" },
                                                            new SelectListItem{ Text="Closed", Value = "Closed" }
                                                         }, "Open", new { @class = "form-control", @disabled = true })

                                                    @*@Html.TextBoxFor(m => m.PurchaseQuotation.Quotation_Status, new { @class = "form-control", @readonly = true })*@
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Ship_To, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(m => m.PurchaseQuotation.Ship_To, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Ship_To)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Fright, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Fright, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Fright)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Loading, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Loading, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Loading)
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Posting_Date, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @*@Html.TextBoxFor(model => model.PurchaseQuotation.Posting_Date, new { @class = "form-control control-text datePicker" })*@
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Posting_Date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "form-control control-text ", @readonly = true })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Posting_Date)
                                                </div>
                                            </div>

                                            <div class="row  form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Required_Date, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Required_Date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "form-control control-text datePicker" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Required_Date)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Valid_Date, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Valid_Date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "form-control control-text datePicker" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Valid_Date)
                                                </div>
                                            </div>

                                            <div class="row  form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Discount, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Discount, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Discount)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.PurchaseQuotation.Remarks, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(model => model.PurchaseQuotation.Remarks, new { @class = "form-control", @cols = 55, @rows = 5 })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Remarks)
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="modal-footer">
                                        <input class="btn btn-primary pull-left" type="button" id="btnNextTab" name="nextButton" value="Next" />
                                        <button class="btn pull-left" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade" id="addQuotationlist">

                                <div>

                                    <table id="createItemTable" class="table display">
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Required Date</th>
                                                <th>Required Quantity</th>
                                                <th>Unit Price ($)</th>
                                                <th>Discount %</th>
                                                <th> Amount ($)</th>
                                                <th>VAT Code</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < 1; i++)
                                            {

                                                <tr>
                                                    <td style="display:none;">
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].IsDummy, new { @class = "form-control control-text" })

                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Product_id, new { @class = "form-control control-text" })

                                                        @*@Html.DropDownListFor(m => m.PurchaseQuotation.Vendor, new SelectList(Model.BussinessList.AsEnumerable(), "BP_Id", "BP_Name"), new { @id = "typeahead", @size = 10 })*@

                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Product_id)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Required_date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "form-control control-text datePicker" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Required_date)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Required_qty, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Required_qty)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Unit_price, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Unit_price)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Discount_percent, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Discount_percent)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Amount, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Amount)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Vat_Code, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Vat_Code)
                                                    </td>
                                                    <td style="width: 90px;">
                                                        <input class="BtnPlus btn pull-left" type="button" value="+" />
                                                        @*<input class="BtnMinus btn pull-left" type="button" value="-" />*@
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <div class="row" style="float:right;">
                                    Total :<span> 100.00</span>
                                </div>

                                <div class="modal-footer">

                                    <input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />
                                    <button class="btn pull-left" data-dismiss="modal">Close</button>
                                    @*@Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })*@

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="modal-footer">
                <input class="btn btn-primary" type="submit" id="btnSubmit" name="submitButton" value="Save" />
                <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
            </div>*@
    </div>


</div>
