@model Troy.Web.Models.PurchaseViewModels


<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">View Purchase</h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="tabs">
                        <ul id="viewtabs" class="nav nav-tabs tabdrop">
                            <li class="active">
                                <a href="#viewdefault" data-toggle="tab">General </a>
                            </li>
                            <li><a href="#viewQuotationItem" data-toggle="tab">Product </a></li>
                        </ul>

                        <div id="viewTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="viewdefault">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-horizontal">

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Vendor:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Vendor_Code, new { @class = "form-control control-text", disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Vendor_Code)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Reference Number:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Reference_Number, new { @class = "form-control control-text", disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Reference_Number)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Status:
                                                </div>
                                                <div class="col-md-8">

                                                    @Html.DropDownListFor(model => model.PurchaseQuotation.Quotation_Status, new List<SelectListItem>
                                                         {
                                                            new SelectListItem{ Text="Open", Value = "Open" },
                                                            new SelectListItem{ Text="Closed", Value = "Closed" }
                                                         }, new { @class = "form-control", disabled = "disabled" })
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Ship To:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(m => m.PurchaseQuotation.Ship_To, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text", disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Ship_To)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Fright:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Freight, new { @class = "form-control control-text", disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Freight)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Loading:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Loading, new { @class = "form-control control-text", disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Loading)
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-horizontal">

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Posting Date:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Posting_Date, new { @Value = Model.PurchaseQuotation.Posting_Date.ToString("MM/dd/yyyy"), @class = "form-control control-text datePicker", disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Posting_Date)
                                                </div>
                                            </div>                                            

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Required Date:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Required_Date, new { @Value = Model.PurchaseQuotation.Required_Date.ToString("MM/dd/yyyy"), @class = "form-control control-text datePicker", disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Required_Date)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Valid Date:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Valid_Date, new { @Value = Model.PurchaseQuotation.Valid_Date.ToString("MM/dd/yyyy"), @class = "form-control control-text datePicker", disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Valid_Date)
                                                </div>
                                            </div>
                                          
                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Remarks:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextAreaFor(model => model.PurchaseQuotation.Remarks, new { @class = "form-control", @cols = 55, @rows = 5, disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Remarks)
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="viewQuotationItem">

                                <div>

                                    <table id="Table1" class="table display">
                                        <thead>
                                            <tr>
                                                <th>Item Code</th>
                                                <th>Required Date</th>
                                                <th>Required Quantity</th>
                                                <th>Quoted Date</th>
                                                <th>Quoted Quantity</th>
                                                <th>Unit Price </th>
                                                <th>Discount %</th>
                                                <th>VAT Code</th>
                                                <th> Amount </th>                                                                                                
                                            </tr>
                                        </thead>

                                        @for (int i = 0; i < Model.PurchaseQuotationItemList.Count; i++)
                                        {
                                            @Html.HiddenFor(model => model.PurchaseQuotationItemList[i].Quote_Item_Id)
                                            <tr>
                                                <td style="display:none;">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].IsDummy, new { @class = "form-control control-text", disabled = "disabled" })
                                                </td>
                                                <td width="20%">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].ProductName, new { @class = "form-control control-text", @readonly = true })
                                                </td>
                                                <td width="15%">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Required_date, new { @Value = Model.PurchaseQuotationItemList[i].Required_date.ToString("MM/dd/yyyy"), @class = "form-control control-text datePicker", disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Required_qty, new { @class = "form-control control-text", disabled = "disabled" })
                                                </td>
                                                <td width="15%">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Quoted_date , new { @class = "form-control control-text datePicker", disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Quoted_qty, new { @class = "form-control control-text", disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Unit_price, new { @class = "form-control control-text", disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Discount_percent, new { @class = "form-control control-text", disabled = "disabled" })
                                                </td>                                                
                                                <td>
                                                    @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Vat_Code, new { @class = "form-control control-text", disabled = "disabled" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].LineTotal, new { @class = "form-control control-text", disabled = "disabled" })
                                                </td>
                                            </tr>
                                        }
                                    </table>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            @*<input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />*@
            <button class="btn pull-left" data-dismiss="modal">Close</button>

            <div class="row" style="float:right;">
                Total : <span>@Html.TextBoxFor(m => m.PurchaseQuotation.TotalBefDocDisc, new { id = "viewTotalPurchase", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                Discount Amount : <span>@Html.TextBoxFor(m => m.PurchaseQuotation.DocDiscAmt, new { id = "viewTotalDiscount", @class = "input-small", @readonly = true, @style = "border: none;" }) @Html.ValidationMessageFor(model => model.PurchaseQuotation.DocDiscAmt)</span> <br />
                Tax Amount : <span>@Html.TextBoxFor(m => m.PurchaseQuotation.TaxAmt, new { id = "viewTotalTax", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                Total Quotation Amount : <span>@Html.TextBoxFor(m => m.PurchaseQuotation.TotalQtnAmt, new { id = "viewTotalQuotationAmt", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
            </div>
        </div>

    </div>
</div>

