@model Troy.Model.BusinessPartner.BusinessPartner

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BusinessPartner</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BP_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BP_Name)
                @Html.ValidationMessageFor(model => model.BP_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Group_Type, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Group_Type)
                @Html.ValidationMessageFor(model => model.Group_Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Group_id, "Group_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Group_id", String.Empty)
                @Html.ValidationMessageFor(model => model.Group_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ship_Address1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ship_Address1)
                @Html.ValidationMessageFor(model => model.Ship_Address1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ship_address2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ship_address2)
                @Html.ValidationMessageFor(model => model.Ship_address2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ship_address3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ship_address3)
                @Html.ValidationMessageFor(model => model.Ship_address3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ship_City, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ship_City)
                @Html.ValidationMessageFor(model => model.Ship_City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ship_State, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ship_State)
                @Html.ValidationMessageFor(model => model.Ship_State)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ship_Country, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ship_Country)
                @Html.ValidationMessageFor(model => model.Ship_Country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ship_pincode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ship_pincode)
                @Html.ValidationMessageFor(model => model.Ship_pincode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bill_Address1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bill_Address1)
                @Html.ValidationMessageFor(model => model.Bill_Address1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bill_address2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bill_address2)
                @Html.ValidationMessageFor(model => model.Bill_address2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bill_address3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bill_address3)
                @Html.ValidationMessageFor(model => model.Bill_address3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bill_City, "Bill_City", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Bill_City", String.Empty)
                @Html.ValidationMessageFor(model => model.Bill_City)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bill_State, "Bill_State", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Bill_State", String.Empty)
                @Html.ValidationMessageFor(model => model.Bill_State)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bill_Country, "Bill_Country", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Bill_Country", String.Empty)
                @Html.ValidationMessageFor(model => model.Bill_Country)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bill_pincode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bill_pincode)
                @Html.ValidationMessageFor(model => model.Bill_pincode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.bp_Pricelist, "bp_Pricelist", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("bp_Pricelist", String.Empty)
                @Html.ValidationMessageFor(model => model.bp_Pricelist)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Emp_Id, "Emp_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Emp_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Emp_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Branch_id, "Branch_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Branch_id", String.Empty)
                @Html.ValidationMessageFor(model => model.Branch_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone1)
                @Html.ValidationMessageFor(model => model.Phone1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phone2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phone2)
                @Html.ValidationMessageFor(model => model.Phone2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mobile)
                @Html.ValidationMessageFor(model => model.Mobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email_Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email_Address)
                @Html.ValidationMessageFor(model => model.Email_Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Website, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Website)
                @Html.ValidationMessageFor(model => model.Website)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact_person, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact_person)
                @Html.ValidationMessageFor(model => model.Contact_person)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ship_method, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ship_method)
                @Html.ValidationMessageFor(model => model.Ship_method)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Control_account_id, "Control_account_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Control_account_id", String.Empty)
                @Html.ValidationMessageFor(model => model.Control_account_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Opening_Balance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opening_Balance)
                @Html.ValidationMessageFor(model => model.Opening_Balance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Due_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Due_date)
                @Html.ValidationMessageFor(model => model.Due_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_User_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_User_Id)
                @Html.ValidationMessageFor(model => model.Created_User_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_Branc_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_Branc_Id)
                @Html.ValidationMessageFor(model => model.Created_Branc_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Created_Dte, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Created_Dte)
                @Html.ValidationMessageFor(model => model.Created_Dte)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_User_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_User_Id)
                @Html.ValidationMessageFor(model => model.Modified_User_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_Branch_Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_Branch_Id)
                @Html.ValidationMessageFor(model => model.Modified_Branch_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_Dte, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified_Dte)
                @Html.ValidationMessageFor(model => model.Modified_Dte)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
