@model Troy.Web.Models.UserViewModels


<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title " id="myModalLabel">Add User</h4>
        </div>

        <div class="modal-body">

            <div class="form-horizontal">

                <div class="row">

                    <ul id="tabs" class="nav nav-pills nav-pills-justified">
                        <li class="active">
                            <a href="#default" data-toggle="tab">General </a>
                        </li>
                        @*<li><a href="#additional" data-toggle="tab">Product </a></li>*@

                    </ul>

                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade in active" id="default">

                            <br />
                            <div class="row">
                                @Html.HiddenFor(m => m.Id)

                                <div class="col-md-6">
                                    <div class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                User Name
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.UserName)
                                            </div>

                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                Password

                                            </div>
                                            <div class="col-md-8">
                                                @Html.PasswordFor(model => model.Password, new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Password)
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                Confirm Password
                                            </div>
                                            <div class="col-md-8">
                                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                User Email
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Email)
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                ExpiryDate:
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PasswordExpiryDate, new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.PasswordExpiryDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                Employee Name:
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Employee_Id, new SelectList(Model.employeelist.AsEnumerable(), "Emp_Id", "First_Name"), "", new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Employee_Id)
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                Role Description:
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Role_Id, new SelectList(Model.rolelist.AsEnumerable(), "Id", "Name"), "", new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Role_Id)
                                                @*@Html.TextBoxFor(model => model.Branch_Id, new { @class = "form-control control-text" })
                @Html.ValidationMessageFor(model => model.Branch_Id)*@
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                BranchName:
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Branch_Id, new SelectList(Model.branchlist.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Branch_Id)
                                                @*@Html.TextBoxFor(model => model.Branch_Id, new { @class = "form-control control-text" })
                @Html.ValidationMessageFor(model => model.Branch_Id)*@
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                DefaultBranch:
                                            </div>
                                            <div class="col-md-8">
                                                @Html.DropDownListFor(m => m.Branch_Id, new SelectList(Model.branchlist.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text" })
                                                @Html.ValidationMessageFor(model => model.Branch_Id)
                                                @*@Html.TextBoxFor(model => model.Branch_Id, new { @class = "form-control control-text" })
                @Html.ValidationMessageFor(model => model.Branch_Id)*@
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />
            <button class="btn pull-left" data-dismiss="modal">Close</button>
            @Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })
        </div>
    </div>
</div>
</div>