@model Troy.Web.Models.UserViewModels

<script type="text/javascript">
    $(function () {
        $(".multiselect").multiselect({ selectedList: 4,noneSelectedText: 'Select branches',header: false });
    });
</script>



@using (Html.BeginForm("Update", "User"))
{
    @Html.ValidationSummary(true)


    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit User</h4>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="tabs">
                            <ul id="tabs" class="nav nav-tabs tabdrop">
                                <li class="active">
                                    <a href="#editdefault" data-toggle="tab">General </a>
                                </li>
                            </ul>

                            <div id="editTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="editdefault">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-horizontal">
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.UserName, new { @class = "control-label normal" })
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                                    </div>

                                                </div>

                                                @*<div class="row form-group">
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(m => m.Password, new { @class = "control-label normal" })
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.PasswordFor(model => model.Password, new { @class = "form-control control-text" })
                                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>*@

                                                @*<div class="row form-group">
                                                        <div class="col-md-4">
                                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label normal" })
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control control-text  pull-left" })
                                                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>*@

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.Email, new { @class = "control-label normal" })
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.Role_Id, new { @class = "control-label normal" })
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(m => m.Role_Id, new SelectList(Model.rolelist.AsEnumerable(), "Id", "Name"), "", new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.Role_Id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.IsActive, new { @class = "control-label normal" })
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.CheckBoxFor(model => model.IsActive, new { name = "IsActive", @checked = "checked", @class = "" })
                                                        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            @*<div class="row form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.Role_Id, new { @class = "control-label normal" })
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(m => m.Role_Id, new SelectList(Model.rolelist.AsEnumerable(), "Id", "Name"), "", new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.Role_Id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>*@
                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.Employee_Id, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(m => m.Employee_Id, new SelectList(Model.employeelist.AsEnumerable(), "Emp_Id", "First_Name"), "", new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.Employee_Id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.Branch_Id, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(m => m.SubmittedBranches, new System.Web.Mvc.MultiSelectList(Model.branchlist.AsEnumerable(),
                                                            "Branch_Id", "Branch_Name", Model.DefaultSelectedBranches.AsEnumerable().Select(m=>m.Branch_Id)), new { multiple = "multiple", @class = "multiselect form-control control-text" })

                                                    @*@Html.DropDownList("SubmittedMovies", "Select branches", new System.Web.Mvc.MultiSelectList(Model.branchlist.AsEnumerable(), "Branch_Id", "Branch_Name", Model.DefaultSelectedBranches.Select(m => m.Branch_Id)),
                                                                        new { multiple = "multiple", @class = "form-control control-text multiselect" })*@
                                                    


                                                    @Html.ValidationMessageFor(model => model.SubmittedBranches, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @Html.Label("Default branch", new { @class = "control-label normal  pull-left" })
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(m => m.Branch_Id, new SelectList(Model.branchlist.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.Branch_Id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btn btn-primary" type="submit" id="btnSubmit" name="submitButton" value="Update" />
                <button class="btn btn-default pull-right" data-dismiss="modal">Close</button>

            </div>

        </div>
    </div>
}