@model Troy.Web.Models.UserViewModels

@{
    ViewBag.Title = "User";
    ViewBag.BodyCss = "User";
}

<style>
    .pagediv {
        width: 75% !important;
        text-align: right !important;
    }

    .btn-warning {
        background-image: -webkit-linear-gradient(#1684c2,#1990d5 60%,#1990d5) !important;
        border-color: #1684c2 !important;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $('.datePicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();
        //var date = $('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();

        $('#grdApplicationUser').dataTable({
            "bFilter": false, "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfo": "Total of _TOTAL_ entries to show (_START_ to _END_)"
            },
            /* Disable initial sort */
            "aaSorting": [],
            "fnInfoCallback": function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
                perPage = iEnd - iStart + 1;
                totalRatio = iTotal / perPage;
                intTotalRatio = parseInt(totalRatio, 10);
                totalPages = totalRatio > intTotalRatio ? intTotalRatio + 1 : intTotalRatio;
                currentRatio = iStart / perPage;
                intCurrentRatio = parseInt(currentRatio, 10);
                currentPage = currentRatio > intCurrentRatio ? intCurrentRatio + 1 : intCurrentRatio;
                return 'Displaying ' + currentPage + ' of ' + totalPages + ' pages';
            }
        });

        //$("#searchUL li").click(function () {

        //});

    });

    function EditApplicationUser(id) {

        var url = $('#editModal').data('url') + '/' + id;

        $.get(url, function (data) {

            $('#editmodelcontainer').html(data);

            $('#editModal').modal('show');
        });
    }

    function ViewApplicationUser(id) {

        var url = $('#viewModal').data('url') + '/' + id;

        $.get(url, function (data) {
            $('#viewmodelcontainer').html(data);

            $('#viewModal').modal('show');
        });
    }

    function IFrameSubmit() {

        var fileSelected = $('#FileUpload').val();
        if (fileSelected == '') {
            alert('Please choose the Excel to Upload');
            return false;
        }

        var formData = new FormData($('form')[0]);
        var dataurl = "/User/index";
        $.ajax({
            url: dataurl,
            type: 'POST',
            xhr: function () {
                var myXhr = $.ajaxSettings.xhr();
                return myXhr;
            },
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {

                if (data.success == true) {
                    alert(data.Message);
                    window.location.reload();
                }
                else {
                    alert(data.Error);
                }
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }

    function EditSubmit(button) {
        var text = button.value;
        $('#submitAction').val(button.value)
        return true;
    }

    $.validator.unobtrusive.parse('#myModal form');
</script>





<div><span>&nbsp;</span></div>


@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.SearchColumn)

    <div id="content">
        <!-- Start .content-wrapper -->
        <div class="content-wrapper">
            <div class="row">&nbsp;</div>
            <!-- Start .row -->
            <div class="row">
                <!-- Start .bredcrumb -->
                <ul id="crumb" class="breadcrumb"></ul>
                <!-- End .breadcrumb -->
                <!-- Start .page-header -->
                <div class="form-group">
                    <label class="col-md-2 col-md-2 col-sm-12 h4 control-label pull-left">
                        @ViewBag.Title
                    </label>

                    <!-- Start .option-buttons -->
                    <!-- Removed -->
                    <!-- End .option-buttons -->

                    <div class="col-lg-10 col-md-10">
                        <div class="row">
                            <div class="pull-right group-button btn-toolbar">
                                <button type="button" title="New Branch" class="btn btn-primary" data-toggle="modal" data-target="#createModal" data-backdrop="static" data-keyboard="false">
                                    <i class="en-add-to-list strong"></i>
                                    <span> New</span>
                                </button>

                                <button type="button" title="Bulk Addition" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal" data-backdrop="static" data-keyboard="false">
                                    <i class="st-file-add strong"></i>
                                    <span> Bulk</span>
                                </button>

                                <button type="button" title="Excel Export" class="btn btn-primary">
                                    @*<a href=@Url.Action("_ExporttoExcel", "Branch")></a>*@
                                    <i class="im-file-excel strong"></i>
                                    <span> Export</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .page-header -->
            </div>
            <!-- End .row -->
            <div class="row">&nbsp;</div>
            <div class="outlet">
                <!-- Start .outlet -->
                <!-- Page start here ( usual with .row ) -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="panel panel-default plain">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <div class="row">

                                </div>
                            </div>
                            <div class="panel-body">

                                <table class="table display" id="datatable">
                                    <thead>

                                        <tr>
                                            <th>
                                                <div class="lBor">
                                                    User Id
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor">
                                                    User Name
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor">
                                                    Email
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor">
                                                    Role
                                                </div>
                                            </th>
                                            <th>
                                                <div class="lBor" style="width: 122px;">
                                                    IsActive
                                                </div>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Troy.Model.AppMembership.ViewUsers item in Model.UserList)
                                        {
                                            <tr class="odd">
                                                <td>
                                                    @item.Id

                                                </td>

                                                <td>
                                                    @item.UserName
                                                </td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    @item.Name
                                                </td>
                                                <td>
                                                    @item.IsActive
                                                </td>


                                                <td>
                                                    <a href="#" class="top-right" data-toggle="modal" data-target="#viewModal" data-backdrop="static" data-keyboard="false" onclick="ViewApplicationUser(@item.Id);">
                                                        <img src="@Url.Content("../Content/images/application_view_detail.png")" />
                                                    </a>
                                                    <span class="text-muted">|</span>
                                                    <a href="#" class="top-right" data-toggle="modal" data-target="#editModal" data-backdrop="static" data-keyboard="false" onclick="EditApplicationUser(@item.Id);">
                                                        <img src="@Url.Content("../Content/images/pencil.png")" />
                                                    </a>
                                                    <span class="text-muted">|</span>

                                                    @*<a href="@Url.Action("_DeletePartialView", "Branch", new { id = item.Id })" data-modal="true">
                                                            <img src="@Url.Content("../Content/images/cross_script.png")" />
                                                        </a>*@

                                                    @* @Html.ActionLink("Delete", "DeActivateExclusion", new { ruleId = item.Purchase_Quote_Id }, new { /*onclick = "return Deleteclick(" + item.Purchase_Quote_Id + ");" */ })*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- End .panel -->
                    </div>
                    <!-- col-lg-12 end here -->
                </div>
                <!-- Page End here -->
            </div>
            <!-- End .outlet -->
        </div>
        <!-- End .content-wrapper -->
    </div>
    <div class="clearfix"></div>
    <div class="modal fade bs-example-modal-lg" id="createModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        @Html.Partial("_CreatePartial", Model)
    </div>

    <div class="modal fade bs-example-modal-lg" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" data-url='@Url.Action("_EditPartial")'>
        <div id="editmodelcontainer">
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="viewModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" data-url='@Url.Action("_ViewPartial")'>
        <div id="viewmodelcontainer">
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="uploadModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">File Upload</h4>
                </div>

                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="tabs">
                                <ul id="myTab" class="nav nav-tabs tabdrop">
                                    <li class="active">
                                        <a href="#default" data-toggle="tab">Bulk Addition</a>
                                    </li>
                                </ul>

                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="default">
                                        <br />

                                        <div id="FileUploadDiv">
                                            <iframe id="hiddenFrame" name="hiddenFrame" style="display: none"></iframe>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="file" id="FileUpload" name="FileUpload" />
                                                </div>
                                            </div>
                                            <a href=@Url.Action("_TemplateExcelDownload", "ApplicationUser")>
                                                Click here to Download template
                                            </a>
                                            @*<div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <input type="button" id="btnUpload" name="FileUploadButton" value="Upload" class="btn btn-success"
                                                               onclick="return IFrameSubmit();" />
                                                    </div>
                                                </div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input class="btn btn-primary pull-left" type="button" id="btnUpload" name="FileUploadButton" value="Upload" onclick="return IFrameSubmit();" />
                    <button class="btn pull-left" data-dismiss="modal">Close</button>
                    @Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })
                </div>

            </div>
        </div>
    </div>
}

