<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Troy Application</title>


    @Styles.Render("~/Content/Site")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquerycustom")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerydata")
    @Scripts.Render("~/bundles/bootstraptable")

    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="supplier">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Branch", "Index", "Branch", null, new { @class = "navbar-brand" })
                @Html.ActionLink("Role", "Index", "Role", null, new { @class = "navbar-brand" })
                @Html.ActionLink("Troy", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {

                        <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                        <li class=" dropdown" id="Suppliers">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Supplier </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Suppliers", "Index", "Suppliers")</li>
                                <li>@Html.ActionLink("Purchases", "Index", "Purchases")</li>
                            </ul>

                        </li>

                        <li>@Html.ActionLink("Bank", "Index", "Bank")</li>
                        <li>@Html.ActionLink("Expense", "Index", "Home")</li>
                        <li class=" dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Categories</a></li>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Products</a></li>
                            </ul>

                        </li>
                        <li>@Html.ActionLink("Account", "Index", "Home")</li>
                        <li>@Html.ActionLink("Manufacture", "Index", "Manufacture")</li>
                        <li>@Html.ActionLink("Service", "Index", "Home")</li>
                        <li>@Html.ActionLink("Employee", "Index", "Employee")</li>

                    }
                </ul>
                @* @Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="row body-content">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-1 col-sm-1 col-lg-1  ">
            </div>
            <div class="col-xs-10 col-sm-10 col-lg-10">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>Copyrights &copy; TroyPlus  @DateTime.Now.Year. All Rights Reserved </p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@


    @RenderSection("scripts", required: false)
</body>

</html>
