@using Troy.Model.AppMembership;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Troy Application</title>


    @Styles.Render("~/Content/Site")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquerycustom")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerydata")
    @Scripts.Render("~/bundles/bootstraptable")

    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="supplier">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        var menuList =Troy.Web.ApplicationUserManager.GetUserApplicationMenuItems(User.Identity.Name);
                        var mainMenus = (from m in menuList                                         
                                             select m.Menu_Name).Distinct().ToList();
                        foreach (string menu in mainMenus)
                        {
                            var menuItems = (from m in menuList
                                             where m.Menu_Name == menu
                                             select m);
                            
                            <li class=" dropdown" id="Suppliers">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@menu </a>
                                <ul class="dropdown-menu">
                                    @foreach (ApplicationUserRoleMenuItem menuItem in menuItems)
                                    {
                                        <li>@Html.ActionLink(@menuItem.SubMenu_name, "Index", @menuItem.Screen_Name)</li>                                 
                                    }
                                </ul>  
                             </li>
                        }
                    }
                </ul>
                 @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="row body-content">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-xs-1 col-sm-1 col-lg-1  ">
            </div>
            <div class="col-xs-10 col-sm-10 col-lg-10">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p>Copyrights &copy; TroyPlus  @DateTime.Now.Year. All Rights Reserved </p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@


    @RenderSection("scripts", required: false)
</body>

</html>
