@using Troy.Model.AppMembership;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Force IE9 to render in normal mode -->
    @*[if IE]<meta http-equiv="x-ua-compatible" content="IE=9" />[endif]*@
    <meta name="author" content="Troy Plus" />
    <meta name="description" content="Troy Plus - ERP - SAP Integrated" />
    <meta name="keywords" content="ERP, Troy Plus" />
    <meta name="application-name" content="Troy Plus" />
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />

    @*[if lt IE 9]
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
        [endif]*@
    <!-- Application Title-->
    <title>@ViewBag.Title - Troy Plus</title>

    <!-- Load Styles-->
    @Styles.Render("~/Content/themes/icons")
    @Styles.Render("~/Content/themes/jqueryUI")
    @Styles.Render("~/Content/themes/bootstrap")
    @Styles.Render("~/Content/themes/plugins")
    @Styles.Render("~/Content/themes/mainStyles")
    @Styles.Render("~/Content/themes/custom")

    <!-- Load Scripts -->
    @Scripts.Render("~/bundles/script/jPace")
    @Scripts.Render("~/bundles/script/jLibs")
    @Scripts.Render("~/bundles/script/bootstrap")
    @Scripts.Render("~/bundles/script/jRespond")
    @Scripts.Render("~/bundles/script/jSlimScrollBar")
    @Scripts.Render("~/bundles/script/jAutoSize")
    @Scripts.Render("~/bundles/script/jSearch")
    @Scripts.Render("~/bundles/script/jBootbox")
    @Scripts.Render("~/bundles/script/commonScripts")
    @Scripts.Render("~/bundles/script/jqueryval")
</head>

<body>
    @if (Request.IsAuthenticated)
    {
            <!-- Start #header -->
        <div id="header">
            <div class="container-fluid">
                <div class="navbar">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <!-- LHS Company Logo-->
                            <span class="text-logo">Troy </span><span class="text-slogan">Plus</span>
                        </a>
                    </div>
                    <nav class="top-nav" role="navigation">
                        <ul class="nav navbar-nav pull-left">
                            @if (Request.IsAuthenticated)
                            {
                                <li id="toggle-sidebar-li">
                                    <a href="#" id="toggle-sidebar" title="Show/Hide menu bar">
                                        <i class="en-arrow-left2"></i>
                                    </a>
                                </li>
                            }
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            @if (Request.IsAuthenticated)
                            {
                                @Html.Partial("_LoginPartial")
                            }
                        </ul>
                    </nav>
                </div>
                <!-- Start #header-area -->
                <div id="header-area" class="fadeInDown">
                    <div class="header-area-inner">
                        <ul class="list-unstyled list-inline">
                            <li>
                                <div class="shortcut-button">
                                    <a href="#">
                                        <i class="im-pie"></i>
                                        <span>Earning Stats</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="shortcut-button">
                                    <a href="#">
                                        <i class="ec-images color-dark"></i>
                                        <span>Gallery</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="shortcut-button">
                                    <a href="#">
                                        <i class="en-light-bulb color-orange"></i>
                                        <span>Fresh ideas</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="shortcut-button">
                                    <a href="#">
                                        <i class="ec-link color-blue"></i>
                                        <span>Links</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="shortcut-button">
                                    <a href="#">
                                        <i class="ec-support color-red"></i>
                                        <span>Support</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="shortcut-button">
                                    <a href="#">
                                        <i class="st-lock color-teal"></i>
                                        <span>Lock area</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End #header-area -->
            </div>
            <!-- Start .header-inner -->
        </div>
            <!-- End #header -->
    }
    <!-- Start #sidebar -->
    @if (Request.IsAuthenticated)
    {
        <div id="sidebar">
            <!-- Start .sidebar-inner -->
            <div class="sidebar-inner">
                <!-- Start #sideNav -->
                <ul id="sideNav" class="nav nav-pills nav-stacked">
                    <li class="top-search">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="row">
                                    <div class="">
                                        <input class="form-control right-icon" type="text" placeholder="Search ..." />
                                        <i class="ec-search s16 right-input-icon"></i>


                                        @*<button type="button" class="form-control">
                                                <i class="ec-search s20"></i>
                                            </button>*@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                    @{
        var menuList = Troy.Web.ApplicationUserManager.GetUserApplicationMenuItems(User.Identity.Name);
        var mainMenus = (from m in menuList
                         select m.Menu_Name).Distinct().ToList();
        foreach (string menu in mainMenus)
        {
            var menuItems = (from m in menuList
                             where m.Menu_Name == menu
                             select m);
            <li>
                <a href="#">@menu<i class="im-menu2"></i></a>
                <ul class="nav sub">
                    @foreach (ApplicationUserRoleMenuItem menuItem in menuItems)
                    {
                        <li>
                            <a href=@menuItem.Screen_Url><i class="en-arrow-right"></i>@menuItem.SubMenu_name</a>
                        </li>
                    }
                </ul>
            </li>
        }
                    }
                </ul>
                <!-- End #sideNav -->
                <!-- Start .sidebar-panel -->
                <!-- End .sidebar-panel -->
            </div>
            <!-- End .sidebar-inner -->
        </div>
    }
    <!-- End #sidebar -->



    <div class="row">
        <!-- Body -->
        <!-- Start #content -->
        @RenderBody()

        <!-- End #content -->
        <!-- End Body -->

        <div class="col-md-12 text-center page-footer">
            <hr />
            <p>Copyrights &copy; TroyPlus  @DateTime.Now.Year. All Rights Reserved </p>
        </div>
    </div>
    <!-- Inline Javascripts -->
    @RenderSection("scripts", required: false)
    <script>
        window.jQuery || document.write('<script src="~/~/Content/themes/TroyPlus/js/libs/jquery-2.1.1.min.js">\x3C/script>')
    </script>

    <script>
        window.jQuery || document.write('<script src="~/~/Content/themes/TroyPlus/js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
    </script>


</body>



</html>




