@model Troy.Web.Models.ConfigurationViewModels

<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add VAT</h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="tabs">
                        <ul id="myTab" class="nav nav-tabs tabdrop">
                            <li class="active">
                                <a href="#VAT" data-toggle="tab">VAT</a>
                            </li>
                        </ul>
                    </div>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="VAT">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            VAT Desc
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.VAT.VAT_Desc, new { @class = "form-control control-text" })
                                            @Html.ValidationMessageFor(model => model.VAT.VAT_Desc)
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            VAT percentage:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.VAT.VAT_percentage, new { @class = "form-control control-text" })
                                            @Html.ValidationMessageFor(model => model.VAT.VAT_percentage)
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            VAT Type
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.VAT.VAT_Type, new { @class = "form-control control-text" })
                                            @Html.ValidationMessageFor(model => model.VAT.VAT_Type)
                                        </div>
                                    </div>
                                    <br>
                                    @*<div class="row">
                                            <div class="col-md-4">
                                                VAT Default
                                            </div>
                                            <div class="col-md-8">
                                                @Html.RadioButtonFor(model => model.VAT.VAT_Default, "Y", new { id = "Y" }) YES
                                                @Html.RadioButtonFor(model => model.VAT.VAT_Default, "N", new { id = "N" }) NO
                                                @Html.ValidationMessageFor(model => model.VAT.VAT_Default)
                                            </div>
                                        </div>*@


                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />
            <button class="btn pull-left" data-dismiss="modal">Close</button>
            


        </div>
    </div>
</div>

