@model Troy.Web.Models.ConfigurationViewModels

@Scripts.Render("~/bundles/jqueryval")

<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>


@using (Html.BeginForm("PriceList", "Configuration"))
{

    @Html.ValidationSummary(true)
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Edit PriceList</h4>
            </div>

            <div class="modal-body">

                <div class="form-horizontal">

                    <div class="row">
                        <div class="tabs">
                            <ul id="edittabs" class="nav nav-tabs tabdrop">
                                <li class="active">
                                    <a href="#editPriceList" data-toggle="tab">PriceList </a>
                                </li>


                            </ul>

                            <div id="editTabContent" class="tab-content">

                                <div class="tab-pane fade active in" id="editPriceList">
                                    <br />
                                    @Html.HiddenFor(model => model.PriceList.PriceList_Id)
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="row">
                                                <div class="col-md-4">
                                                    Price_List_Desc:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PriceList.Price_List_Desc, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PriceList.Price_List_Desc)
                                                </div>
                                            </div>
                                            <br>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    Mandatory:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.RadioButtonFor(model => model.PriceList.Mandatory, "Y", new { id = "Y" }) YES
                                                    @Html.RadioButtonFor(model => model.PriceList.Mandatory, "N", new { id = "N" }) NO
                                                    @Html.ValidationMessageFor(model => model.PriceList.Mandatory)
                                                </div>
                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal-footer">
                <input class="btn btn-primary pull-left" type="submit" id="btnEditSubmit" name="submitButton" value="Update" />
                <button class="btn pull-left" data-dismiss="modal">Close</button>
                @Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })
            </div>

        </div>
    </div>
}

