@model Troy.Web.Models.ConfigurationViewModels


<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">View City</h4>
        </div>

        <div class="modal-body">

            <div class="form-horizontal">

                <div class="row">
                    <div class="tabs">
                        <ul id="viewtabs" class="nav nav-tabs tabdrop">
                            <li class="active">
                                <a href="#viewCity" data-toggle="tab">City </a>
                            </li>

                        </ul>
                    </div>
                    <div id="viewTabContent" class="tab-content">

                        <div class="tab-pane fade in active" id="viewCity">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            City Name:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.City.City_Name, new { @class = "form-control control-text", disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.City.City_Name)
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            City Code:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.City.City_Code, new { @class = "form-control control-text", disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.City.City_Code)
                                        </div>
                                    </div>

                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            State Code:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.City.StateID, new SelectList(Model.StateList1.AsEnumerable(), "ID", "State_Code"), "", new { @class = "form-control control-text", disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.City.StateID)
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Country Code:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.DropDownListFor(m => m.City.CountryID, new SelectList(Model.CountryListDp.AsEnumerable(), "ID", "Country_Code"), "", new { @class = "form-control control-text", disabled = "disabled" })
                                            @Html.ValidationMessageFor(model => model.City.CountryID)
                                        </div>
                                    </div>


                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            Is Active:
                                        </div>
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.City.IsActive, new { @readonly = "readonly", @class = "form-control control-text" })
                                            @Html.ValidationMessageFor(model => model.City.IsActive)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            @*<input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />*@
            <button class="btn pull-left" data-dismiss="modal">Close</button>
          
        </div>

    </div>
</div>

