@model  Troy.Web.Models.PurchaseOrderViewModels


<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Add Purchase Order from Purchase Quotation</h4>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="tabs">
                        <ul id="createtabs" class="nav nav-tabs tabdrop">
                            <li class="active">
                                <a href="#default1" data-toggle="tab">General</a>
                            </li>
                            <li><a href="#addQuotationlist1" data-toggle="tab">Product </a></li>

                        </ul>

                        <div id="createtabContent" class="tab-content">

                            <div class="tab-pane fade active in" id="default1">
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.HiddenFor(model => model.PurchaseOrder.Purchase_Quote_Id)
                                        <div class="form-horizontal">
                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Purchase QuotationID
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Purchase_Quote_Id, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Purchase_Quote_Id)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Vendor Name
                                                </div>
                                                <div class="col-md-8">
                                                    @*@Html.TextBoxFor(model => model.PurchaseOrder.Vendor, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseOrder.Vendor)*@
                                                    @Html.DropDownListFor(m => m.PurchaseQuotation.Vendor_Code, new SelectList(Model.BusinessPartnerList.AsEnumerable(), "BP_Id", "BP_Name"), "", new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Vendor_Code)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Reference Number
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Reference_Number, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Reference_Number)
                                                </div>
                                            </div>                                                                                     

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Order Status
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.PurchaseQuotation.Quotation_Status, new List<SelectListItem>
                                                         {
                                                            new SelectListItem{ Text="Open", Value = "Open" },
                                                            new SelectListItem{ Text="Closed", Value = "Closed" },
                                                            new SelectListItem{ Text="Cancel", Value = "Cancel" }
                                                         }, "Open", new { @class = "form-control", @disabled = true })

                                                    @*@Html.TextBoxFor(m => m.PurchaseQuotation.Quotation_Status, new { @class = "form-control", @readonly = true })*@
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Posting Date
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Posting_Date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "form-control control-text ", @readonly = true })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Posting_Date)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Delivery Date
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Required_Date, new { @class = "form-control control-text datePicker" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Required_Date)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Document Date
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Modified_Date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "form-control control-text ", @readonly = true })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Modified_Date)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Ship To
                                                </div>
                                                <div class="col-md-8">
                                                    @*@Html.TextBoxFor(model => model.PurchaseOrder.Ship_To, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseOrder.Ship_To)*@
                                                    @Html.DropDownListFor(m => m.PurchaseQuotation.Ship_To, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Ship_To)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Freight
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Freight, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Freight)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Loading
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Loading, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Loading)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Document Discount Amount
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.DocDiscAmt, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.DocDiscAmt)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    Remarks
                                                </div>
                                                <div class="col-md-8">                                                    
                                                    @Html.TextBoxFor(model => model.PurchaseQuotation.Purchase_Quote_Id, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.PurchaseQuotation.Remarks)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="modal-footer">
                                        <input class="btn btn-primary pull-left" type="button" id="btnNextTab" name="nextButton" value="Next" />
                                        <button class="btn pull-left" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="addQuotationlist1">

                                <div>

                                    <table id="createItemTable" class="table display" style="min-height:180px;">
                                        <thead>
                                            <tr>
                                                <th>Product Id</th>
                                                <th>Quantity</th>
                                                <th>Unit Price</th>
                                                <th>Discount %</th>
                                                <th>VAT Code</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < 1; i++)
                                            {

                                                <tr>
                                                    <td style="display:none;">
                                                        @Html.HiddenFor(model => model.PurchaseQuotationItemList[i].IsDummy, 0)
                                                    </td>
                                                    <td width="20%">
                                                        @*@Html.TextBoxFor(model => model.PurchaseOrderItemsList[i].Product_id, new { @class = "form-control control-text" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseOrderItemsList[i].Product_id)*@
                                                        @Html.DropDownListFor(m => m.PurchaseQuotationItemList[i].Product_id, new SelectList(Model.ProductList.AsEnumerable(), "Product_Id", "Product_Name", Model.PurchaseQuotationItemList[i].Product_id), "", new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Product_id)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Quoted_qty, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Quoted_qty)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Unit_price, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Unit_price)
                                                    </td>
                                                    <td>
                                                        @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Discount_percent, new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Discount_percent)
                                                    </td>
                                                    <td>
                                                        @*@Html.TextBoxFor(model => model.PurchaseOrderItemsList[i].Vat_Code, new { @class = "form-control control-text" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseOrderItemsList[i].Vat_Code)*@
                                                        @Html.DropDownListFor(m => m.PurchaseQuotationItemList[i].Vat_Code, new SelectList(Model.VATList.AsEnumerable(), "VAT_Id", "VAT_percentage", Model.PurchaseQuotationItemList[i].Vat_Code), "", new { @class = "form-control control-text" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Vat_Code)
                                                    </td>
                                                    <td style="width: 90px;">
                                                        <input class="BtnPlus btn pull-left" type="button" value="+" />
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>

                                </div>

                                <br />
                                <br />
                                <div class="modal-footer">
                                    <input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />
                                    <button class="btn pull-left" data-dismiss="modal">Close</button>

                                    <div class="row" style="float:right;">
                                        Total : <span id="totalPurchase">0</span><br />
                                        Total Before Document Discount : <span id="totalbfdocdisc">@Model.PurchaseQuotation.TotalBefDocDisc</span><br />
                                        Document Discount Amount : <span id="docdisamt">@Model.PurchaseQuotation.DocDiscAmt</span><br />
                                        Tax Amount : <span id="taxamt">@Model.PurchaseQuotation.TaxAmt</span><br />
                                        Total Order Amount : <span id="totalordamt">@Model.PurchaseQuotation.TotalQtnAmt</span><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


