@model Troy.Model.PurchaseOrder.PurchaseOrder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseDocId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseDocId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetDocId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetDocId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purchase_Quote_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purchase_Quote_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posting_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posting_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Delivery_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ship_To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship_To)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Freight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Freight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBefDocDisc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBefDocDisc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocDiscAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocDiscAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalOrdAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalOrdAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_User_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_User_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Branc_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Branc_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_User_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_User_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_Branch_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Branch_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified_Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Purchase_Order_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
