@model Troy.Web.Models.ProductGroupViewModels

@using (Html.BeginForm("Index", "ProductGroup"))
{
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add ProductGroup</h4>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">

                        <ul id="tabs" class="nav nav-pills nav-pills-justified">
                            <li class="active">
                                <a href="#default" data-toggle="tab">General </a>
                            </li>
                        </ul>

                        <div id="myTabContent" class="tab-content">

                            <div class="tab-pane fade in active" id="default">
                                <div class="row">

                                    @Html.HiddenFor(model => model.ProductGroup.Product_Group_Id)
                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    ProductGroup Name:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.ProductGroup.Product_Group_Name, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.ProductGroup.Product_Group_Name)
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    ProductGroup Level:
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.ProductGroup.Level, new { @class = "form-control control-text" })
                                                    @Html.ValidationMessageFor(model => model.ProductGroup.Level)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />
                                    <button class="btn pull-left" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
}

