@using Troy.Web.Models
@model PostLoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Log in";
}


<div class="row">
    <br />    
    <br />
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="login-panel center-block">
            <section id="loginForm">
                @using (Html.BeginForm("PostLoginSubmit", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="panel panel-default">
                        <div class="row panel-heading">
                            
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="col-md-6 text-left text-orange">
                                    <h2>@ViewBag.title</h2>
                                </div>
                                <div class="col-md-6 text-right">
                                    <img src="~/Content/images/Troy Plus Logo - Rectangle.jpg" class="img-rounded login-header-logo" />
                                </div>
                            </div>
                            <div class="row">

                            </div>
                            <div class="row">
                                <hr />
                                <div class="form-group">
                                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @disabled = "disabled" })

                                    </div>
                                </div>                                
                                
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FinancialYear, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.FinancialYear.Year, new SelectList(Model.YearList.AsEnumerable(), "Year", "Year"), "Select financial year", new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(m => m.FinancialYear.Year, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Branch_Id, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.DropDownListFor(m => m.Branch_Id, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name"), "Select branch", new { @class = "form-control control-text" })
                                        @Html.ValidationMessageFor(m => m.Branch_Id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-8 col-md-4">
                                        <input type="submit" value="Log in" class="btn btn-primary pull-right" />
                                    </div>
                                </div>
                                </div>
                            </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>

