@model  Troy.Web.Models.PurchaseInvoiceViewModels

@Scripts.Render("~/bundles/script/jqueryval")

<script type="text/javascript">
    var i = 0;

    $(document).ready(function () {

        $('.datePicker').datepicker();
        //$('.datePicker').datepicker({ dateFormat: 'dd/MM/yy' }).val();

        $('#creDocumentDate1').datepicker({
            minDate: 0, maxDate: 0
        });

        $('#creDueDate1').datepicker({
            minDate: 0, maxDate: 0
        });

        $('#crePostingDate1').datepicker({
            minDate: 0, maxDate: 0
        });

        $("#typeahead").jAutochecklist({
            width: 221
        });
        $("#productTypeahead").jAutochecklist({
            width: 135,
            listMaxHeight: 50
        });

        i = 1;

    });

    $(function () {
        $("#btnNextTab2").click(function (e) {
            e.preventDefault();
            var _this = $(this);
            var _form = _this.closest("#viewdefault");

            var validator = $("#viewdefault").validate(); // obtain validator
            var anyError = false;
            _form.find("input").each(function () {
                debugger;
                if (this.parentNode.parentNode.className != "jAutochecklist_list") {
                    if (!validator.element(this)) { // validate every input element inside this step
                        anyError = true;
                    }
                }
            });

            _form.find("select").each(function () {
                //debugger;
                if (!validator.element(this)) { // validate every input element inside this step
                    anyError = true;
                }
            });

            if (anyError) {
                return false;
            }
            else {
                $('#viewtabs a[href = #viewQuotationlist]').tab('show');
            }// exit if any error found

            //$.post(_form.attr("action"), _form.serialize(), function (data) {
            //    //check the result and do whatever you want
            //    $('#createtabs a[href = #addQuotationlist]').tab('show');
            //})


            //$("#default").validate({
            //    showErrors: function (errorMap, errorList) {
            //        debugger;
            //    }
            //});

        });

    });

</script>

@using (Html.BeginForm("Index", "PurchaseInvoices"))
{
    @Html.ValidationSummary(true)

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">View Purchase Invoice</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="tabs">
                            <ul id="viewtabs" class="nav nav-tabs tabdrop">
                                <li class="active">
                                    <a href="#viewdefault" data-toggle="tab">General</a>
                                </li>
                                <li><a href="#viewQuotationlist" data-toggle="tab">Product </a></li>

                            </ul>

                            @Html.HiddenFor(model => model.PurchaseInvoice.Purchase_Invoice_Id)
                            @Html.Hidden("ItemCount", Model.PurchaseInvoiceItemsList.Count)

                            <div id="viewtabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="viewdefault">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-horizontal">
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Purchase Invoice ID
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Purchase_Invoice_Id, new { @class = "form-control control-text", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Purchase_Invoice_Id)
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Vendor Name
                                                    </div>
                                                    <div class="col-md-8">
                                                        @*@Html.TextBoxFor(model => model.PurchaseInvoice.Vendor, new { @class = "form-control control-text" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseInvoice.Vendor)*@
                                                        @Html.DropDownListFor(m => m.PurchaseInvoice.Vendor, new SelectList(Model.BusinessPartnerList.AsEnumerable(), "BP_Id", "BP_Name"), "", new { @class = "form-control control-text", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Vendor)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Reference Number
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Reference_Number, new { @class = "form-control control-text", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Reference_Number)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Document Status
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.PurchaseInvoice.Doc_Status, new List<SelectListItem>
                                                         {
                                                            new SelectListItem{ Text="Open", Value = "Open" },
                                                            new SelectListItem{ Text="Closed", Value = "Closed" },
                                                            new SelectListItem{ Text="Cancel", Value = "Cancel" }
                                                         }, new { @class = "form-control", @disabled = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Doc_Status)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Posting Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Posting_Date, new { @Value = Model.PurchaseInvoice.Posting_Date.ToString("MM/dd/yyyy"), @class = "form-control control-text", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Posting_Date)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Due Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Due_Date, new { @Value = Model.PurchaseInvoice.Due_Date.ToString("MM/dd/yyyy"), @class = "form-control control-text", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Due_Date)
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-horizontal">
                                                @*<div class="row form-group">
                                                        <div class="col-md-4">
                                                            Document Date
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.PurchaseInvoice.Document_Date, new { @class = "form-control control-text", @id = "creDocumentDate1", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseInvoice.Document_Date)
                                                        </div>
                                                    </div>*@
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Ship To
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(m => m.PurchaseInvoice.Ship_To, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Ship_To)
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Freight
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Freight, new { @class = "form-control control-text", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Freight)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Loading
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Loading, new { @class = "form-control control-text", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Loading)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Distirbuted Land Cost
                                                    </div>
                                                    <div class="col-md-8">
                                                        @*@Html.TextBoxFor(model => model.PurchaseInvoice.Distribute_LandedCost, new { @class = "form-control control-text" })*@
                                                        @Html.DropDownListFor(model => model.PurchaseInvoice.Distribute_LandedCost, new List<SelectListItem>
                                                         {
                                                            new SelectListItem{ Text="Equally", Value = "Equally" },
                                                            new SelectListItem{ Text="Quantity", Value = "Quantity" },
                                                            new SelectListItem{ Text="Cost", Value = "Cost" }
                                                         }, new { @class = "form-control", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Distribute_LandedCost)
                                                    </div>
                                                </div>

                                                @*<div class="row form-group">
                                                        <div class="col-md-4">
                                                            Discount
                                                        </div>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(model => model.PurchaseInvoice.DocDiscAmt, new { @class = "form-control control-text", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseInvoice.DocDiscAmt)
                                                        </div>
                                                    </div>*@

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Remarks
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Remarks, new { @class = "form-control control-text", disabled = "disabled" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Remarks)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="modal-footer">
                                            <input class="btn btn-primary pull-left" type="button" id="btnNextTab2" name="nextButton" value="Next" />
                                            <button class="btn pull-left" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="viewQuotationlist">

                                    <div>

                                        <table id="ViewTable" class="table display" style="min-height:180px;">
                                            <thead>
                                                <tr>
                                                    <th>Product Id</th>
                                                    <th>Unit Price</th>
                                                    <th>Quantity</th>
                                                    <th>Discount %</th>
                                                    <th>VAT %</th>
                                                    <th>Freight Loading</th>
                                                    <th>LineTotal</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.PurchaseInvoiceItemsList.Count; i++)
                                                {
                                                    @Html.HiddenFor(model => model.PurchaseInvoiceItemsList[i].Purchase_InvoiceItem_Id)
                                                    @Html.HiddenFor(model => model.PurchaseInvoiceItemsList[i].Purchase_Invoice_Id)
                                                    @Html.HiddenFor(model => model.PurchaseInvoiceItemsList[i].Product_id)
                                                    @Html.HiddenFor(model => model.PurchaseInvoiceItemsList[i].BaseDocLink)
                                                    <tr>
                                                        <td style="display:none;">
                                                            @Html.HiddenFor(model => model.PurchaseInvoiceItemsList[i].IsDummy, 0)
                                                        </td>
                                                        <td width="25%">
                                                            @*@Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].Product_id, new { @class = "form-control control-text" })
                                                                @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Product_id)*@
                                                            @Html.DropDownListFor(m => m.PurchaseInvoiceItemsList[i].Product_id, new SelectList(Model.ProductList.AsEnumerable(), "Product_Id", "Product_Name", Model.PurchaseInvoiceItemsList[i].Product_id), "", new { @class = "form-control control-text", @onchange = "OnChangeProduct(this, " + i + ");", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Product_id)
                                                        </td>
                                                        <td width="10%">
                                                            @Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].Unit_price, new { @class = "form-control control-text", @readonly = true, disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Unit_price)
                                                        </td>
                                                        <td width="10%">
                                                            @Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].Quantity, new { @class = "form-control control-text", @onkeyup = "OnChangeQuantity(this, " + i + ");", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Quantity)
                                                        </td>
                                                        <td width="8%">
                                                            @Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].Discount_percent, new { @class = "form-control control-text", @onkeyup = "OnChangeDiscount(this, " + i + ");", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Discount_percent)
                                                        </td>
                                                        <td width="12%">
                                                            @*@Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].Vat_Code, new { @class = "form-control control-text" })
                                                                @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Vat_Code)*@
                                                            @Html.DropDownListFor(m => m.PurchaseInvoiceItemsList[i].Vat_Code, new SelectList(Model.VATList.AsEnumerable(), "VAT_percentage", "VAT_percentage", Model.PurchaseInvoiceItemsList[i].Vat_Code), "", new { @class = "form-control control-text", @onchange = "OnChangeVAT();", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Vat_Code)
                                                        </td>
                                                        <td width="5%">
                                                            @Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].Freight_Loading, new { @class = "form-control control-text", disabled = "disabled" })
                                                            @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Freight_Loading)
                                                        </td>
                                                        <td width="5%">
                                                            @Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].LineTotal, new { @class = "form-control control-text", @readonly = true })
                                                            @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].LineTotal)
                                                        </td>
                                                        <td style="width: 90px;">
                                                            <input class="BtnPlus btn pull-left" type="button" value="+" />
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>

                                    </div>

                                    <br />
                                    <br />
                                    <div class="modal-footer">
                                        @*<input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Update" />*@
                                        <button class="btn pull-left" data-dismiss="modal">Close</button>

                                        <div class="row" style="float:right;">
                                            @*Total : <span id="totalPurchase">0</span><br />
                                                Total Before Document Discount : <span id="totalbfdocdisc">0</span><br />
                                                Document Discount Amount : <span id="docdisamt">0</span><br />
                                                Tax Amount : <span id="taxamt">0</span><br />
                                                Total Order Amount : <span id="totalordamt">0</span><br />*@

                                            Total : <span>@Html.TextBoxFor(m => m.PurchaseInvoice.TotalBefDocDisc, new { id = "totalPurchase1", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                            Discount Amount : <span>@Html.TextBoxFor(m => m.PurchaseInvoice.DocDiscAmt, new { id = "totalDiscount1", @class = "input-small", @readonly = true, @onkeyup = "OnChangeDiscountSummary(this);" }) @Html.ValidationMessageFor(model => model.PurchaseInvoice.DocDiscAmt) </span> <br />
                                            Tax Amount : <span>@Html.TextBoxFor(m => m.PurchaseInvoice.TaxAmt, new { id = "totalTax1", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                            Total Quotation Amount : <span>@Html.TextBoxFor(m => m.PurchaseInvoice.TotalPurInvAmt, new { id = "totalQuotationAmt1", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}