@model  Troy.Web.Models.PurchaseReturnViewModels

@Scripts.Render("~/bundles/script/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {
        $('.datePicker').datepicker();

        $('#creGRDocumentDate').datepicker({
            dateFormat: 'dd/MM/yy', minDate: 0, maxDate: 0
        });

        $('#creGRDueDate').datepicker({
            dateFormat: 'dd/MM/yy', minDate: 0, maxDate: 0
        });

        $('#creGRPostingDate').datepicker({
            dateFormat: 'dd/MM/yy', minDate: 0, maxDate: 0
        });

        $("#editTypeahead").jAutochecklist();
        var i;

        i = $("#ItemCount").val();

        //Dynamically add quotation row
        function addRow() {

            var date = new Date();
            var strDate = (date.getMonth() + 1) + "/" + date.getDate() + "/" + date.getFullYear();

            var selectHtml = CreateSelect(i);
            var selectHtml1 = CreateVATSelect(i);

            selectHtml += '</select>';
            selectHtml1 += '</select>';

            var html = '<tr>' +
                         '<td style="display:none;"> <input class="form-control control-text" data-val="true" data-val-number="The field IsActive must be a number." data-val-required="The IsActive field is required." id="PurchaseReturnitemsList_' + i + '__IsDummy" name="PurchaseReturnitemsList[' + i + '].IsDummy" type="text" value="">  </td>' +
                         '<td width="25%"> ' +
                             selectHtml +
                             '<span class="field-validation-valid" data-valmsg-for="PurchaseReturnitemsList[' + i + '].Product_id" data-valmsg-replace="true"></span>' +
                         '<td width="10%">' +
                             '<input class="form-control control-text" data-val="true" data-val-number="The field Unit_price must be a number." data-val-required="The Unit_price field is required." id="PurchaseReturnitemsList_' + i + '__Unit_price" name="PurchaseReturnitemsList[' + i + '].Unit_price" readonly="True" type="text" value="">' +
                             '<span class="field-validation-valid" data-valmsg-for="PurchaseReturnitemsList[' + i + '].Unit_price" data-valmsg-replace="true"></span>' +
                         '</td>' +
                         '<td width="10%">' +
                             '<input class="form-control control-text" data-val="true" data-val-number="The field Required Quantity must be a number." data-val-required="The Required Quantity field is required." id="PurchaseReturnitemsList_' + i + '__Quantity" name="PurchaseReturnitemsList[' + i + '].Quantity" onkeyup="OnChangeQuantity(this, ' + i + ');" type="text" value="">' +
                             '<span class="field-validation-valid" data-valmsg-for="PurchaseReturnitemsList[' + i + '].Quantity" data-valmsg-replace="true"></span>' +
                         '</td>' +
                         '<td width="8%">' +
                             '<input class="form-control control-text" data-val="true" data-val-number="The field Discount_percent must be a number." data-val-range="The field Discount% must be between 0 and 100." data-val-range-max="100" data-val-range-min="0"  data-val-required="The Discount_percent field is required." id="PurchaseReturnitemsList_' + i + '__Discount_percent" name="PurchaseReturnitemsList[' + i + '].Discount_percent" onkeyup="OnChangeDiscount(this, ' + i + ');" type="text" value="">' +
                             '<span class="field-validation-valid" data-valmsg-for="PurchaseReturnsitemsList[' + i + '].Discount_percent" data-valmsg-replace="true"></span>' +
                         '</td>' +
                          '<td width="12%">' +
                              selectHtml1 +
                             '<span class="field-validation-valid" data-valmsg-for="PurchaseReturnitemsList_[' + i + '].__Vat_Code" data-valmsg-replace="true"></span>' +
                         '</td>' +
                          '<td width="5%">' +
                             '<input class="form-control control-text" data-val="true" data-val-number="The field Freight_Loading must be a number." data-val-range="The Freight Loading is required."  data-val-required="The Freight_Loading field is required." id="PurchaseReturnitemsList_' + i + '__Freight_Loading" name="PurchaseReturnitemsList[' + i + '].Freight_Loading" type="text" value="">' +
                             '<span class="field-validation-valid" data-valmsg-for="PurchaseReturnitemsList[' + i + '].Freight_Loading" data-valmsg-replace="true"></span>' +
                         '</td>' +
                          '<td width="5%">' +
                             '<input class="form-control control-text valid" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="PurchaseReturnitemsList_' + i + '__LineTotal" name="PurchaseReturnitemsList[' + i + '].LineTotal" readonly="True" type="text" value="">' +
                             '<span class="field-validation-valid" data-valmsg-for="PurchaseReturnitemsList[' + i + '].LineTotal" data-valmsg-replace="true"></span>' +
                         '</td>' +
                         '<td>' +
                             '<input type="button" class="BtnPlus btn pull-left" value="+" /> <input style="margin-left:5px;" type="button" class="BtnMinus btn pull-left" value="-" />' +
                         '</td>' +
                         '</tr>'

            $(html).appendTo($("#EditTable"))

            //$("#PurchaseQuotationItemList_1__Required_date").datepicker("refresh");
            i++;

            //$("form").removeData("validator");
            $("form").removeData("unobtrusiveValidation");
            $.validator.unobtrusive.parse("form");

            $("#EditTable").delegate(".datePicker", "focusin", function () {
                $(this).datepicker();
            });
        };

        function CreateSelect(rowID) {
            //debugger;

            var selectHtml = '<select class="form-control control-text valid" data-val="true" data-val-number="The field Product_id must be a number." data-val-required="The Product_id field is required." id="PurchaseReturnsitemsList_' + rowID + '__Product_id" name="PurchaseReturnsitemsList[' + rowID + '].Product_id" onchange="OnChangeProduct(this, ' + rowID + ');">';
            selectHtml += '<option value=""></option>';

            var dataUrl = "/PurchaseReturns/GetProductList";

            $.ajax({
                type: 'GET',
                url: dataUrl,
                async: false,
                cache: false,
                crossDomain: true,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                error: function (xhr, err) {
                },
                success: function (result, status) {
                    //debugger;
                    for (var count = 0; count < result.length; count++) {
                        selectHtml += '<option value="' + result[count].Product_Id + '"selected>' + result[count].Product_Name + '</option>';
                    }
                }
            });

            return selectHtml;
        }

        function CreateVATSelect(rowID) {
            var selectHtml1 = '<select class="form-control control-text valid" data-val="true" data-val-number="The field VAT_Id must be a number." data-val-required="The VAT_Id field is required." id="PurchaseInvoiceItemsList_' + rowID + '__Vat_Code" name="PurchaseInvoiceItemsList[' + rowID + '].Vat_Code" onchange="OnChangeVAT();" >';
            selectHtml1 += '<option value=""></option>';


            var dataUrl = "/PurchaseReturns/GetVATList";

            $.ajax({
                type: 'GET',
                url: dataUrl,
                async: false,
                cache: false,
                crossDomain: true,
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                error: function (xhr, err) {
                },
                success: function (result, status) {
                    //debugger;
                    for (var count = 0; count < result.length; count++) {
                        selectHtml1 += '<option value="' + result[count].VAT_percentage + '">' + result[count].VAT_percentage + '</option>';
                    }
                }
            });

            return selectHtml1;
        }

        $("#EditTable").on("click", ".BtnPlus", addRow);

        function deleteRow() {
            var par = $(this).parent().parent();
            //par.remove();
            //$('#idEstablishmentRow td.ms-formbody span input').attr('id');
            var id = par[0].childNodes[1].childNodes[1].id;

            id = '#' + id;

            $(id).val("1");

            //par[0].childNodes[0].childNodes[1].value = 1;

            //$(id).val(1);
            par.hide();
            CalculateTotal();
            CalculateTotalAmount();
            CalculateTax();
        };
        $("#EditTable").on("click", ".BtnMinus", deleteRow);

    });

    function TabChange() {
        debugger;
        //if ($("#btnSubmit").val == "Next") {
        $('#edittabs a[href = #editInvoiceItem]').tab('show');
        //    $("#btnSubmit").val("Save");
        //}
    }

    $(function () {
        $("#btnpurinv").click(function (e) {

            debugger;

            e.preventDefault();
            var _this = $(this);
            var _form = _this.closest("#editdefault");

            var validator = $("#editdefault").validate(); // obtain validator
            var anyError = false;
            _form.find("input").each(function () {
                //debugger;
                if (this.parentNode.parentNode.className != "jAutochecklist_list") {
                    if (!validator.element(this)) { // validate every input element inside this step
                        anyError = true;
                    }
                }
            });

            _form.find("select").each(function () {
                debugger;

                if (!validator.element(this)) { // validate every input element inside this step
                    anyError = true;
                }
            });

            if (anyError) {
                return false;
            }
            else {
                $('#edittabs a[href = #editInvoiceItem]').tab('show');
            }// exit if any error found

        });

    });

    function OnChangeProduct(val, rowId) {

        //debugger;
        var pID = parseInt(val.value);
        var dataUrl = "/PurchaseReturns/GetPrice?pID=" + pID;

        $.ajax({
            type: 'GET',
            url: dataUrl,
            data: pID,
            async: true,
            cache: false,
            crossDomain: true,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            error: function (xhr, err) {
            },
            success: function (result, status) {
                //debugger;
                var id = "#PurchaseReturnitemsList_" + rowId + "__Unit_price";
                $(id).val(result);

                CalculateTotal();
                CalculateTotalAmount();
            }
        });
    }

    function OnChangeQuantity(currentQty, rowId) {
        //debugger;

        var qty = currentQty.value;
        var price = $("#PurchaseReturnitemsList_" + rowId + "__Unit_price").val();

        var totAmount = price * qty;

        var id = "#PurchaseReturnsitemList_" + rowId + "__LineTotal";
        $(id).val(totAmount.toFixed(2));
        CalculateTotal();
        CalculateTotalAmount();
    }

    function OnChangeDiscount(currentDis, rowId) {
        //debugger;

        var dis = currentDis.value;
        var qty = $("#PurchaseReturnsitemList_" + rowId + "__Quantity").val();
        var price = $("#PurchaseReturnsitemList_" + rowId + "__Unit_price").val();

        var totAmount = price * qty - ((price * qty) * dis / 100)

        var id = "#PurchaseReturnitemsList_" + rowId + "__LineTotal";
        $(id).val(totAmount.toFixed(2));

        CalculateTotal();
        //CalculateDiscount();
        CalculateTotalAmount();
    }

    function OnChangeVAT() {
        CalculateTax();
        CalculateTotalAmount();
    }

    function OnChangeDiscountSummary(currentDis) {
        //var totdis = currentDis.value;
        //var totdoc = $("#totalPurchase1").val();
        //var tottax = $("#totalTax1").val();
        //tot = (parseFloat(totdoc) - parseFloat(totdis)) + parseFloat(tottax);

        //$("#totalQuotationAmt1").val(tot);
        var percentage = 0;
        var totdoc = 0;
        var totdis = currentDis.value;
        var tottax = 0;
        var totline = 0;
        var totminus = 0;
        var tot = 0;

        for (var j = i; j >= 0; j--) {
            if (!isNaN(parseFloat($("#PurchaseReturnitemsList_" + j + "__LineTotal").val()))) {
                totdoc = parseFloat(totdoc) + parseFloat($("#PurchaseReturnitemsList_" + j + "__LineTotal").val());
            }
        }

        percentage = totdis / totdoc * 100;


        for (var j = i; j >= 0; j--) {
            if (!isNaN(parseFloat($("#PurchaseReturnitemsList_" + j + "__LineTotal").val()))) {
                totline = parseFloat($("#PurchaseReturnitemsList_" + j + "__LineTotal").val() * percentage / 100);
                totminus = parseFloat($("#PurchaseReturnitemsList_" + j + "__LineTotal").val()) - totline;
                tottax = parseFloat(tottax) + parseFloat(totminus) * parseFloat($("#PurchaseReturnitemsList_" + j + "__Vat_Code").val()) / 100;
            }
        }

        tot = (totdoc - totdis) + tottax;

        $("#totalTax1").val(tottax.toFixed(2));
        $("#totalQuotationAmt1").val(tot.toFixed(2));
    }

    function CalculateTotal() {
        //debugger;
        var tot = 0;
        //if (i == 0) {
        //    tot = parseFloat(tot) + parseFloat($("#PurchaseQuotationItemList_" + i + "__Amount").val());
        //}
        //else {
        for (var j = i; j >= 0; j--) {
            if (!isNaN(parseFloat($("#PurchaseReturnitemsList_" + j + "__LineTotal").val()))) {
                tot = parseFloat(tot) + parseFloat($("#PurchaseReturnitemsList_" + j + "__LineTotal").val());

            }
        }
        //}

        $("#totalPurchase1").val(tot);

    }

    function CalculateDiscount() {
        var tot = 0;

        for (var j = i; j >= 0; j--) {
            if (!isNaN(parseFloat($("#PurchaseReturnitemsList_" + j + "__Discount_percent").val()))) {
                tot = parseFloat(tot) + parseFloat($("#PurchaseReturnitemsList_" + j + "__Discount_percent").val());
            }
        }

        $("#totalDiscount1").val(tot);

    }

    function CalculateTax() {
        var tot = 0;

        for (var j = i; j >= 0; j--) {
            if (!isNaN(parseFloat($("#PurchaseReturnsitemsList_" + j + "__Vat_Code").val()))) {
                //tot = parseFloat(tot) + parseFloat($("#PurchaseInvoiceItemsList_" + j + "__Vat_Code").val());
                tot = parseFloat(tot) + (parseFloat($("#PurchaseReturnitemsList_" + j + "__LineTotal").val()) * parseFloat($("#PurchaseReturnitemsList_" + j + "__Vat_Code").val()) / 100);
            }
        }

        $("#totalTax1").val(tot);

    }

    function CalculateTotalAmount() {
        var totdoc = 0;
        var totdis = 0;
        var tottax = 0;
        var tot = 0;
        for (var j = i; j >= 0; j--) {
            if (!isNaN(parseFloat($("#PurchaseReturnsitemsList_" + j + "__LineTotal").val()))) {
                totdoc = parseFloat(totdoc) + parseFloat($("#PurchaseReturnitemsList_" + j + "__LineTotal").val());
            }
        }

        //for (var j = i; j >= 0; j--) {
        //    if (!isNaN(parseFloat($("#PurchaseInvoiceItemsList_" + j + "__Discount_percent").val()))) {
        //        totdis = parseFloat(totdis) + parseFloat($("#PurchaseInvoiceItemsList_" + j + "__Discount_percent").val());
        //    }
        //}

        for (var j = i; j >= 0; j--) {
            if (!isNaN(parseFloat($("#PurchaseReturnsitemsList_" + j + "__Vat_Code").val()))) {
                //tottax = parseFloat(tottax) + parseFloat($("#PurchaseInvoiceItemsList_" + j + "__Vat_Code").val());
                tottax = parseFloat(tottax) + (parseFloat($("#PurchaseReturnitemsList_" + j + "__LineTotal").val()) * parseFloat($("#PurchaseReturnitemsList_" + j + "__Vat_Code").val()) / 100);
            }
        }

        //tot = (totdoc - totdis) + tottax;
        tot = totdoc + tottax;

        $("#totalQuotationAmt1").val(tot.toFixed(2));

    }
</script>

@using (Html.BeginForm("Index", "PurchaseReturns"))
{
    @Html.ValidationSummary(true)
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Purchase Return from Purchase Invoice</h4>
            </div>

            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="tabs">
                            <ul id="edittabs" class="nav nav-tabs tabdrop">
                                <li class="active">
                                    <a href="#editdefault" data-toggle="tab">General </a>
                                </li>
                                <li><a href="#editInvoiceItem" data-toggle="tab">Product </a></li>
                            </ul>

                            @Html.HiddenFor(model => model.PurchaseReturn.Purchase_Return_Id)
                            @Html.HiddenFor(model => model.PurchaseReturnitems.Purchase_Return_Id)
                            @Html.Hidden("ItemCount", Model.PurchaseInvoiceItemsList.Count)
                            @*@Html.HiddenFor(model => model.PurchaseReturnitemsList[i].Purchase_Return_Id)*@


                            <div id="editTabContent" class="tab-content">

                                <div class="tab-pane fade active in" id="editdefault">

                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-horizontal">

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Purchase InvoiceID
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Purchase_Invoice_Id, new { @class = "form-control control-text" ,@readonly =true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Purchase_Invoice_Id)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Vendor Name
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(m => m.PurchaseInvoice.Vendor, new SelectList(Model.BusinessPartnerList.AsEnumerable(), "BP_Id", "BP_Name"), "", new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Vendor)
                                                    </div>

                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Reference Number
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Reference_Number, new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Reference_Number)
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.PurchaseInvoice.Doc_Status, new { @class = "control-label normal" })
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(model => model.PurchaseInvoice.Doc_Status, new List<SelectListItem>
                                                         {
                                                            new SelectListItem{ Text="Open", Value = "Open" },
                                                           
                                                         }, new { @class = "form-control",@readonly = true })
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Posting Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Posting_Date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "form-control control-text ", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Posting_Date)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Due Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Due_Date, new { @class = "form-control control-text datePicker", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Due_Date)
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Document Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Modified_Date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "form-control control-text ", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Modified_Date)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">

                                            <div class="form-horizontal">

                                             

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Ship To
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(m => m.PurchaseInvoice.Ship_To, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Ship_To)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Freight
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Freight, new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Freight)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Loading
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.Loading, new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.Loading)
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        TotalBefDocDisc
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.TotalBefDocDisc, new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.TotalBefDocDisc)
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        Document Discount Amount
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.DocDiscAmt, new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.DocDiscAmt)
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        TaxAmt
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextAreaFor(model => model.PurchaseInvoice.TaxAmt, new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.TaxAmt)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        TotalPurInvAmt
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoice.TotalPurInvAmt, new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoice.TotalPurInvAmt)
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <br />
                                    <div class="row">
                                        <div class="modal-footer">
                                            <input class="btn btn-primary pull-left" type="button" id="btnpurinv" name="nextButton" value="Next" />
                                            @*<button class="btn pull-left" data-dismiss="modal">Cancel</button>*@
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="editInvoiceItem">

                                    <div>

                                        <table id="EditTable" class="table display">
                                            <thead>
                                                <tr>
                                                    <th>Product Id</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Discount %</th>
                                                    <th>VAT Code</th>
                                                    <th>freight loading</th>
                                                    <th></th>
                                                </tr>
                                            </thead>

                                            @for (int i = 0; i < Model.PurchaseInvoiceItemsList.Count; i++)
                                            {

                                               @Html.HiddenFor(model => model.PurchaseInvoiceItemsList[i].Purchase_Invoice_Id)

                                                <tr>
                                                    <td style="display:none;">
                                                        @Html.HiddenFor(model => model.PurchaseReturnitemsList[i].IsDummy, 0)

                                                    </td>
                                                    <td width="30%">
                                                        @Html.DropDownListFor(m => m.PurchaseInvoiceItemsList[i].Product_id, new SelectList(Model.ProductList.AsEnumerable(), "Product_Id", "Product_Name", Model.PurchaseInvoiceItemsList[i].Product_id), new { @class = "form-control control-text", @onchange = "OnChangeProduct(this, " + i + ");", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Product_id)
                                                    </td>
                                                    <td width="10%">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].Quantity, new { @class = "form-control control-text", @onkeyup = "OnChangeQuantity(this, " + i + ");" })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Quantity)
                                                    </td>
                                                    <td width="10%">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].Unit_price, new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Unit_price)
                                                    </td>
                                                    <td width="8%">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].Discount_percent, new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Discount_percent)
                                                    </td>
                                                    <td width="12%">
                                                        @Html.DropDownListFor(m => m.PurchaseInvoiceItemsList[i].Vat_Code, new SelectList(Model.VATList.AsEnumerable(), "VAT_Id", "VAT_percentage", Model.PurchaseInvoiceItemsList[i].Vat_Code), new { @class = "form-control control-text", @onchange = "OnChangeVAT();", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].Vat_Code)
                                                    </td>
                                                    <td width="10%">
                                                        @Html.TextBoxFor(model => model.PurchaseInvoiceItemsList[i].LineTotal, new { @class = "form-control control-text", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.PurchaseInvoiceItemsList[i].LineTotal)
                                                    </td>
                                                    <td style="width: 90px;">
                                                        <input class="BtnPlus btn pull-left" type="button" value="+" />
                                                        @if (i > 0)
                                                        {
                                                            <input style="margin-left:5px;" class="BtnMinus btn pull-left" type="button" value="-" />
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </table>

                                    </div>

                                    <div class="modal-footer">

                                        <input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save-PurRtn" />
                                        <button class="btn pull-left" data-dismiss="modal">Close</button>

                                        <div class="row" style="float:right;">
                                            @*Total : <span id="totalPurchase">0</span><br />
                                                Total Before Document Discount : <span id="totalbfdocdisc">@Model.PurchaseQuotation.TotalBefDocDisc</span><br />
                                                Document Discount Amount : <span id="docdisamt">@Model.PurchaseQuotation.DocDiscAmt</span><br />
                                                Tax Amount : <span id="taxamt">@Model.PurchaseQuotation.TaxAmt</span><br />
                                                Total Order Amount : <span id="totalordamt">@Model.PurchaseQuotation.TotalQtnAmt</span><br />*@

                                            Total : <span>@Html.TextBoxFor(m => m.PurchaseInvoice.TotalBefDocDisc, new { id = "totalPurchase1", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                            Discount Amount : <span>@Html.TextBoxFor(m => m.PurchaseInvoice.DocDiscAmt, new { id = "totalDiscount1", @class = "input-small", @onkeyup = "OnChangeDiscountSummary(this);" }) @Html.ValidationMessageFor(model => model.PurchaseInvoice.DocDiscAmt) </span> <br />
                                            Tax Amount : <span>@Html.TextBoxFor(m => m.PurchaseInvoice.TaxAmt, new { id = "totalTax", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                            Total Invoice Amount : <span>@Html.TextBoxFor(m => m.PurchaseInvoice.TotalPurInvAmt, new { id = "totalQuotationAmt1", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
