@model Troy.Web.Models.GoodsReturnViewModels

@Scripts.Render("~/bundles/script/jqueryval")
<script>

    $(function () {
        $("#btnNextTabPurQuo").click(function (e) {

            e.preventDefault();
            var _this = $(this);
            var _form = _this.closest("#Viewdefault");

            var validator = $("#Viewdefault").validate(); // obtain validator
            var anyError = false;

            if (anyError) {
                return false;
            }
            else {
                $('#tabs a[href = #ViewaddQuotationlist]').tab('show');
            }// exit if any error found

            //$.post(_form.attr("action"), _form.serialize(), function (data) {
            //    //check the result and do whatever you want
            //    $('#createtabs a[href = #addQuotationlist]').tab('show');
            //})


            //$("#default").validate({
            //    showErrors: function (errorMap, errorList) {
            //        debugger;
            //    }
            //});

        });


    });
</script>


<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">View GoodsReturns</h4>
        </div>

        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="tabs">
                        <ul id="tabs" class="nav nav-tabs tabdrop">
                            <li class="active">
                                <a href="#Viewdefault" data-toggle="tab">General</a>
                            </li>
                            <li><a href="#ViewaddQuotationlist" data-toggle="tab">GoodsReturn Items </a></li>

                        </ul>
                        @Html.HiddenFor(model=>model.goodreturn.Goods_Return_Id)
                        @Html.Hidden("ItemCount", Model.goodreturnitemlist.Count)

                        <div id="viewmyTabContent" class="tab-content">

                            <div class="tab-pane fade active in" id="Viewdefault">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-horizontal">

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @*@Html.LabelFor(m => m.goodreceipt.Purchase_Order_Id, new { @class = "control-label normal" })*@
                                                    PurchaseOrder Id
                                                </div>
                                                <div class="col-md-8">
                                                    @*, new { @id = "typeahead", @size = 12 }*@
                                                    @Html.DropDownListFor(m => m.goodreturn.Goods_Receipt_Id, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name",Model.goodreturn.Goods_Receipt_Id),  new { @class = "form-control control-text", @readonly = true })
                                                    @*@Html.TextBoxFor(model => model.goodreceipt.Purchase_Order_Id, new { @class = "form-control control-text" })*@
                                                    @Html.ValidationMessageFor(model => model.goodreturn.Goods_Receipt_Id)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @Html.LabelFor(m => m.goodreturn.Vendor, new { @class = "control-label normal" })
                                                </div>
                                                <div class="col-md-8">
                                                    @*@Html.TextBoxFor(model => model.goodreceipt.Vendor, new { @class = "form-control control-text" })*@
                                                    @Html.DropDownListFor(m => m.goodreturn.Vendor_Name, new SelectList(Model.BussinessList.AsEnumerable(), "BP_Id", "BP_Name",Model.goodreturn.Vendor_Name), new { @class = "form-control control-text", @readonly = true })
                                                    @Html.ValidationMessageFor(model => model.goodreturn.Vendor_Name)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @*@Html.LabelFor(m => m.goodreturn.Reference_Number, new { @class = "control-label normal" })*@
                                                    Reference Number
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.TextBoxFor(model => model.goodreturn.Reference_Number, new { @class = "form-control control-text", @readonly = true })
                                                    @Html.ValidationMessageFor(model => model.goodreturn.Reference_Number)
                                                </div>
                                            </div>

                                            <div class="row form-group">
                                                <div class="col-md-4">
                                                    @*@Html.LabelFor(m => m.goodreceipt.Doc_Status, new { @class = "control-label normal" })*@
                                                    Document Status
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.DropDownListFor(model => model.goodreturn.Doc_Status, new List<SelectListItem>
                                                         {
                                                            new SelectListItem{ Text="Open", Value = "Open" },
                                                            new SelectListItem{ Text="Closed", Value = "Closed" },
                                                            new SelectListItem{ Text="Cancelled", Value = "Cancelled" }
                                                         },  new { @class = "form-control", @readonly = true })@*, @disabled = true })*@

                                                        @*@Html.TextBoxFor(m => m.PurchaseQuotation.Quotation_Status, new { @class = "form-control", @readonly = true })*@
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @*@Html.LabelFor(m => m.goodreceipt.Ship_To, new { @class = "control-label normal" })*@
                                                        Ship To
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.DropDownListFor(m => m.goodreturn.Ship_To, new SelectList(Model.BranchList.AsEnumerable(), "Branch_Id", "Branch_Name"), "", new { @class = "form-control control-text", @readonly = true })
                                                        @*@Html.TextBoxFor(model => model.goodreceipt.Ship_To, new { @class = "form-control control-text" })*@
                                                        @Html.ValidationMessageFor(model => model.goodreturn.Ship_To)
                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @*@Html.LabelFor(m => m.goodreceipt.Posting_Date, new { @class = "control-label normal" })*@
                                                        Posting Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.goodreturn.Posting_Date, new { @Value = Model.goodreturn.Posting_Date.ToString("dd/MM/yyyy"), @class = "form-control control-text datePicker", @disabled = "disabled" })
                                                       
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-horizontal">

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @*@Html.LabelFor(m => m.goodreceipt.Due_Date, new { @class = "control-label normal" })*@
                                                        Due Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.goodreturn.Due_Date, new { @Value = Model.goodreturn.Due_Date.ToString("dd/MM/yyyy"), @class = "form-control control-text datePicker", @disabled = "disabled" })

                                                    </div>
                                                </div>

                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @*@Html.LabelFor(m => m.goodreceipt.Document_Date, new { @class = "control-label normal" })*@
                                                        Document Date
                                                    </div>
                                                    <div class="col-md-8">
                                                        @*@Html.TextBoxFor(model => model.PurchaseQuotation.Posting_Date, new { @class = "form-control control-text datePicker" })*@
                                                        @Html.TextBoxFor(model => model.goodreturn.Document_Date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @disabled = "disabled", @class = "form-control control-text " })@*, @readonly = true })*@

                                                    </div>
                                                </div>



                                                <div class="row  form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.goodreturn.Freight, new { @class = "control-label normal" })
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.goodreturn.Freight, new { @class = "form-control control-text ", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.goodreturn.Freight)
                                                    </div>
                                                </div>


                                                <div class="row form-group">
                                                    <div class="col-md-4">
                                                        @Html.LabelFor(m => m.goodreturn.Loading, new { @class = "control-label normal" })
                                                    </div>
                                                    <div class="col-md-8">
                                                        @Html.TextBoxFor(model => model.goodreturn.Loading, new { @class = "form-control control-text ", @readonly = true })
                                                        @Html.ValidationMessageFor(model => model.goodreturn.Loading)
                                                    </div>
                                                </div>

 

                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="modal-footer">
                                            <input class="btn btn-primary pull-left" type="button" id="btnNextTabPurQuo" name="nextButton" value="Next" />
                                            <button class="btn pull-left" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade" id="ViewaddQuotationlist">

                                    <div>

                                        <table id="viewmyTabContent" class="table display" style="min-height:180px;">
                                            <thead>
                                                <tr>
                                                    <th>Product_Id</th>
                                                    <th>Quantity</th>
                                                    <th>Unit Price</th>
                                                    <th>Discount %</th>
                                                    <th>VAT Code</th>
                                                    <th> LineTotal</th>
                                                   
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.goodreturnitemlist.Count; i++)
                                                {

                                                    <tr>
                                                        <td style="display:none;">
                                                            @Html.HiddenFor(model => model.goodreturnitemlist[i].IsDummy, 0)
                                                            @Html.HiddenFor(model=>model.goodreturnitemlist[i].Id)

                                                        </td>
                                                        <td width="20%">
                                                            @*@Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Product_id, new { @class = "form-control control-text" })*@

                                                            @Html.DropDownListFor(m => m.goodreturnitemlist[i].Product_id, new SelectList(Model.productlist.AsEnumerable(), "Product_Id", "Product_Name", Model.goodreturnitemlist[i].Product_id), new { @class = "form-control control-text", @readonly = true, @onchange = "OnChangeProduct(this, " + i + ");" })
                                                            @*@Html.TextBoxFor(model => model.goodreceiptitemlist[i].Product_id, new { @class = "form-control control-text" })*@
                                                            @Html.ValidationMessageFor(model => model.goodreturnitemlist[i].Product_id)
                                                        </td>
                                                        @*<td width="15%">
                            @Html.TextBoxFor(model => model.PurchaseQuotationItemList[i].Required_date, new { @Value = DateTime.Now.ToString("MM/dd/yyyy"), @class = "form-control control-text datePicker" })
                            @Html.ValidationMessageFor(model => model.PurchaseQuotationItemList[i].Required_date)
                        </td>*@
                                                        <td>
                                                            @Html.TextBoxFor(model => model.goodreturnitemlist[i].Quantity, new { @class = "form-control control-text", @onkeyup = "OnChangeQuantity(this, " + i + ");", @readonly = true })
                                                            @Html.ValidationMessageFor(model => model.goodreturnitemlist[i].Quantity)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.goodreturnitemlist[i].Unit_price, new { @class = "form-control control-text", @readonly = true })
                                                            @Html.ValidationMessageFor(model => model.goodreturnitemlist[i].Unit_price)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.goodreturnitemlist[i].Discount_percent, new { @class = "form-control control-text", @onkeyup = "OnChangeDiscount(this, " + i + ");", @readonly = true })
                                                            @Html.ValidationMessageFor(model => model.goodreturnitemlist[i].Discount_percent)
                                                        </td>
                                                        <td width="15%">
                                                            @Html.DropDownListFor(m => m.goodreturnitemlist[i].Vat_Code, new SelectList(Model.VATList.AsEnumerable(), "VAT_Id", "VAT_percentage", Model.goodreturnitemlist[i].Vat_Code), new { @class = "form-control control-text", @onchange = "OnChangeVAT();", @readonly = true })
                                                            @Html.ValidationMessageFor(model => model.goodreturnitemlist[i].Vat_Code)
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(model => model.goodreturnitemlist[i].LineTotal, new { @class = "form-control control-text", @readonly = true })
                                                            @Html.ValidationMessageFor(model => model.goodreturnitemlist[i].LineTotal)
                                                        </td>
                                                       
                                                        <td style="width: 90px;">
                                                            <input class="BtnPlus btn pull-left" type="button" value="+" />
                                                            @*<input style="margin-left:5px;" type="button" class="BtnMinus btn pull-left" value="-" />*@
                                                        </td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>

                                    </div>



                                    <div class="modal-footer">
                                        @*<input class="btn btn-primary pull-left" type="submit" id="btnSubmit" name="submitButton" value="Save" />*@
                                        <button class="btn pull-left" data-dismiss="modal">Close</button>
                                        @*@Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })*@

                                        <div class="row" style="float:right;">
                                            Total : <span>@Html.TextBoxFor(m => m.goodreturn.TotalBefDocDisc, new { id = "totalPurchase", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                            Discount Amount : <span>@Html.TextBoxFor(m => m.goodreturn.DocDiscAmt, new { id = "totalDiscount", @class = "input-small", @onkeyup = "OnChangeDiscountSummary(this);" }) @Html.ValidationMessageFor(model => model.goodreturn.DocDiscAmt) </span> <br />
                                            Tax Amount : <span>@Html.TextBoxFor(m => m.goodreturn.TaxAmt, new { id = "totalTax", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                            Total Quotation Amount : <span>@Html.TextBoxFor(m => m.goodreturn.TotalGRDocAmt, new { id = "totalQuotationAmt", @class = "input-small", @readonly = true, @style = "border: none;" })</span> <br />
                                        </div>

                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="modal-footer">
                    <input class="btn btn-primary" type="submit" id="btnSubmit" name="submitButton" value="Save" />
                    <button class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                </div>*@
        </div>

    </div>
