@model  Troy.Web.Models.SalesReturnViewModels

@{
    ViewBag.Title = "Sales Return";
}

<script type="text/javascript">



    $(document).ready(function () {

        $('.datePicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();

        $('#creDocumentDate1').datepicker({
            dateFormat: 'dd/MM/yy', minDate: 0, maxDate: 0
        });

        $('#creDocumentDate2').datepicker({
            dateFormat: 'dd/MM/yy', minDate: 0, maxDate: 0
        });

        $('#creDocumentDate3').datepicker({
            dateFormat: 'dd/MM/yy', minDate: 0, maxDate: 0
        });
        //var date = $('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();

        $('#grdBranch').dataTable({
            "bFilter": false, "sPaginationType": "full_numbers",
            "oLanguage": {
                "sInfo": "Total of _TOTAL_ entries to show (_START_ to _END_)"
            },
            /* Disable initial sort */
            "aaSorting": [],
            "fnInfoCallback": function (oSettings, iStart, iEnd, iMax, iTotal, sPre) {
                perPage = iEnd - iStart + 1;
                totalRatio = iTotal / perPage;
                intTotalRatio = parseInt(totalRatio, 10);
                totalPages = totalRatio > intTotalRatio ? intTotalRatio + 1 : intTotalRatio;
                currentRatio = iStart / perPage;
                intCurrentRatio = parseInt(currentRatio, 10);
                currentPage = currentRatio > intCurrentRatio ? intCurrentRatio + 1 : intCurrentRatio;
                return 'Displaying ' + currentPage + ' of ' + totalPages + ' pages';
            }
        });
    });

    function EditPurchase(id) {

        var url = $('#editModal').data('url') + '/' + id;

        $.get(url, function (data) {

            $('#editmodelcontainer').html(data);

            $('#editModal').modal('show');
        });
    }

    function ViewPurchase(id) {

        var url = $('#viewModal').data('url') + '/' + id;

        $.get(url, function (data) {
            $('#viewmodelcontainer').html(data);

            $('#viewModal').modal('show');
        });
    }

    function ViewSalesInvoice(id) {

        var url = $('#viewPurQuoModal').data('url') + '/' + id;

        $.get(url, function (data) {
            $('#viewPurQuomodelcontainer').html(data);

            $('#viewPurQuoModal').modal('show');
        });
    }

    function IFrameSubmit() {

        var fileSelected = $('#FileUpload').val();
        if (fileSelected == '') {
            alert('Please choose the Excel to Upload');
            return false;
        }

        var formData = new FormData($('form')[0]);
        var dataurl = "../Branch/index";
        $.ajax({
            url: dataurl,
            type: 'POST',
            xhr: function () {
                var myXhr = $.ajaxSettings.xhr();
                return myXhr;
            },
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {

                if (data.success == true) {
                    alert(data.Message);
                    window.location.reload();
                }
                else {
                    alert(data.Error);
                }
            },
            error: function (request, status, error) {
                alert(request.responseText);
            }
        });
    }
</script>


@using (Html.BeginForm("Index", "SalesReturns", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)


    <div id="content">
        <!-- Start .content-wrapper -->
        <div class="content-wrapper">
            <div class="row">&nbsp;</div>
            <!-- Start .row -->
            <div class="row">
                <!-- Start .bredcrumb -->
                <ul id="crumb" class="breadcrumb"></ul>
                <!-- End .breadcrumb -->
                <!-- Start .page-header -->
                <div class="form-group">
                    <label class="col-md-2 col-md-2 col-sm-12 h4 control-label pull-left">
                        @ViewBag.Title
                    </label>

                    <!-- Start .option-buttons -->
                    <!-- Removed -->
                    <!-- End .option-buttons -->

                    <div class="col-lg-10 col-md-10">
                        <div class="row">
                            <div class="pull-right group-button btn-toolbar">
                                <button type="button" title="New Purchase" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal" data-backdrop="static" data-keyboard="false">
                                    <i class="en-add-to-list strong"></i>
                                    <span> New</span>
                                </button>

                                <button type="button" title="Bulk Addition" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal" data-backdrop="static" data-keyboard="false">
                                    <i class="st-file-add strong"></i>
                                    <span> Bulk</span>
                                </button>

                                <button type="button" title="Excel Export" class="btn btn-primary">
                                    <i class="im-file-excel strong"></i>
                                    <span> Export</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .page-header -->
            </div>
            <!-- End .row -->
            <div class="row">&nbsp;</div>
            <div class="outlet">
                <!-- Start .outlet -->
                <!-- Page start here ( usual with .row ) -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- col-lg-12 start here -->
                        <div class="panel panel-default plain">

                            <div class="panel-heading">
                                <div class="row">

                                </div>
                            </div>
                            <div class="panel-body">

                                <table class="table display" id="datatable">
                                    <thead>

                                        <tr>
                                            <th>Sales Return Id</th>
                                            <th>Customer name</th>
                                            <th>Reference Number</th>
                                            <th>Document Status</th>
                                            <th>Posting Date</th>
                                            <th>Due Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Troy.Model.SalesReturns.ViewSalesReturn item in Model.SalesReturnList)
                                        {
                                            <tr class="odd gradeX">
                                                <td style="text-align:center;">@item.Sales_Return_Id</td>
                                                <td>@item.Vendor_Name</td>
                                                <td style="text-align:center;">@item.Reference_Number</td>
                                                <td>@item.Doc_Status</td>
                                                <td>@item.Posting_Date.ToString("dd/MM/yyyy")</td>
                                                <td>@item.Due_Date.ToString("dd/MM/yyyy")</td>
                                                <td>
                                                    <a href="#" class="top-right" data-toggle="modal" data-target="#viewModal" data-backdrop="static" data-keyboard="false" onclick="ViewPurchase(@item.Sales_Return_Id);">
                                                        <i class="im-eye2"></i>

                                                    </a>
                                                    <span class="text-muted">|</span>
                                                    <a href="#" class="top-right" data-toggle="modal" data-target="#editModal" data-backdrop="static" data-keyboard="false" onclick="EditPurchase(@item.Sales_Return_Id);">
                                                        <i class="im-pencil2"></i>
                                                    </a>
                                                    @*<span class="text-muted">|</span>
                                                        <a href="@Url.Action("_DeletePartialView", "Suppliers", new { id = item.Purchase_Quote_Id })" data-modal="true">
                                                            <i class="im-remove2"></i>
                                                        </a>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <!-- End .panel -->
                    </div>
                    <!-- col-lg-12 end here -->
                </div>
                <!-- Page End here -->
            </div>
            <!-- End .outlet -->
        </div>
        <!-- End .content-wrapper -->
    </div>
    <div class="clearfix"></div>
    <div class="modal fade bs-example-modal-lg" id="createModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        @Html.Partial("_CreatePartial", Model)
    </div>

    <div class="modal fade bs-example-modal-lg" id="viewPurQuoModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" data-url='@Url.Action("_ViewSalesInvoice")'>
        @*@Html.Partial("_CreatePartial", Model)*@
        <div id="viewPurQuomodelcontainer">

        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="editModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" data-url='@Url.Action("_EditPartial")'>
        <div id="editmodelcontainer">
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" id="viewModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true" data-url='@Url.Action("_ViewPartial")'>
        <div id="viewmodelcontainer">
        </div>
    </div>
}

@using (Html.BeginForm("Upload", "SalesReturns", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="modal fade bs-example-modal-lg" id="uploadModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">File Upload</h4>
                </div>

                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="tabs">
                                <ul id="myTab" class="nav nav-tabs tabdrop">
                                    <li class="active">
                                        <a href="#default" data-toggle="tab">Bulk Addition</a>
                                    </li>
                                </ul>

                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="default">
                                        <br />

                                        <div id="FileUploadDiv">
                                            <iframe id="hiddenFrame" name="hiddenFrame" style="display: none"></iframe>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="file" id="FileUpload" name="FileUpload" />
                                                </div>
                                            </div>
                                            @*<div class="row">
                                                    <div class="col-md-12 text-right">
                                                        <input type="button" id="btnUpload" name="FileUploadButton" value="Upload" class="btn btn-success"
                                                               onclick="return IFrameSubmit();" />
                                                    </div>
                                                </div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input class="btn btn-primary pull-left" type="button" id="btnUpload" name="FileUploadButton" value="Upload" onclick="return IFrameSubmit();" />
                    <button class="btn pull-left" data-dismiss="modal">Cancel</button>
                    @Ajax.ActionLink("Change content", "UpdateContent", "Home", new AjaxOptions { UpdateTargetId = "myTabContent" })
                </div>

            </div>
        </div>
    </div>

}

@using (Html.BeginForm("Confirmation", "SalesReturns", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade bs-example-modal-lg" id="confirmationModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Create Purchase Return</h4>
                </div>

                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="tabs">
                                @*<ul id="myTab" class="nav nav-tabs tabdrop">
                                    <li class="active">
                                        <a href="#default" data-toggle="tab">Select way of entry</a>
                                    </li>
                                </ul>*@

                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="default">
                                        <br />

                                        <div id="FileUploadDiv">
                                            @*<iframe id="hiddenFrame" name="hiddenFrame" style="display: none"></iframe>*@
                                            <div class="row">
                                                <div class="col-md-12" align="center">

                                                    @*<input type="file" id="Select" name="FileUpload" />*@
                                                    @*@Html.RadioButton("select", "Create from Purchase Quotation", false)Create from Purchase Quotation
                                                        @Html.RadioButton("select", "Create Directly", false) Create Directly*@
                                                    <button type="button" title="New Purchase Order" class="btn btn-primary" data-toggle="modal" data-target="#RetrivePurQuoModal" data-backdrop="static" data-keyboard="false" data-dismiss="modal">
                                                        <i class="en-add-to-list strong"></i>
                                                        <span> Create from Sales Invoice</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="modal-footer">
                   <input class="btn btn-primary pull-right" type="button" id="btnOK" name="FileUploadButton" value="OK" />
                    <button class="btn pull-left" data-dismiss="modal">Cancel</button>
                </div>*@

            </div>
        </div>
    </div>
}

@using (Html.BeginForm("RetrivePurQuo", "SalesReturns", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade bs-example-modal-lg" id="RetrivePurQuoModal" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Sales Return</h4>
                </div>

                <div class="modal-body">

                    <div class="form-horizontal">
                        <div class="row">
                            <div class="tabs">
                                <ul id="myTab" class="nav nav-tabs tabdrop">
                                    <li class="active">
                                        <a href="#default" data-toggle="tab">Sales Return</a>
                                    </li>
                                </ul>

                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade in active" id="default">
                                        <br />
                                        <div id="FileUploadDiv">
                                            @*<iframe id="hiddenFrame" name="hiddenFrame" style="display: none"></iframe>*@
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="panel-body">

                                                        <table class="table display" id="datatable">
                                                            <thead>

                                                                <tr>
                                                                    <th>Sales Invoice Id</th>
                                                                    <th>Posting Date</th>
                                                                    <th>Due Date</th>
                                                                    <th>Customer</th>
                                                                    <th>Document Status</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (Troy.Model.SalesInvoices.ViewSalesInvoice item in Model.SaleInvoiceList)
                                                                {
                                                                    <tr class="odd gradeX">
                                                                        <td style="text-align:center;">@item.Sales_Invoice_Id</td>
                                                                        <td>@item.Posting_Date.ToString("dd/MM/yyyy")</td>
                                                                        <td>@item.Due_Date.ToString("dd/MM/yyyy")</td>
                                                                        <td style="text-align:center;">@item.Vendor_Name</td>
                                                                        <td>@item.Doc_Status</td>
                                                                        <td>
                                                                            <a href="#" class="top-right" data-toggle="modal" data-target="#viewPurQuoModal" data-backdrop="static" data-keyboard="false" data-dismiss="modal" onclick="ViewSalesInvoice(@item.Sales_Invoice_Id);">
                                                                                <i class="im-eye2"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
